In [45]:
# from siphon.simplewebservice.ndbc import NDBC
import pandas as pd
from erddapy import ERDDAP
from joblib import Parallel, delayed
import multiprocessing
import xarray as xr

Now using ERDDAP directly instead. Need to make sure to get:

Sensors:
* covered by below but need to maybe add:
    * More NDBC
    * More CO-OPS
    * PORTS (not in erddap) (or do separately)
    * Work on ACCESS sensor ingestion first to see how that works.

Platforms:
* how to access this data? ADCPs, etc

Other:
* HF Radar DONE
* sea ice (grids)

In [42]:
# user input
kw = {
    "min_lon": -99.0,
    "max_lon": -88.0,
    "min_lat": 20.0,
    "max_lat": 30.0,
    "min_time": "2016-07-10T00:00:00",#Z",
    "max_time": "2017-02-10T00:00:00",#Z"
}

# HF Radar

In [8]:
e = ERDDAP(server='https://coastwatch.pfeg.noaa.gov/erddap/', protocol='griddap')

In [56]:
standard_names = ['surface_eastward_sea_water_velocity','surface_northward_sea_water_velocity']

# search for datasets in our region of interest. We know for HF Radar which instutition we want 
# to search for so we don't need to specify other terms.
inst = 'Coastal Observing Research and Development Center, Scripps Institution of Oceanography'
url = e.get_search_url(search_for=inst, response="csv", **kw, items_per_page=10000)
print(url)

# Read in the search info to find the dataset_ids for datasets we will be reading data from.
df = pd.read_csv(url)
dataset_ids = df['Dataset ID']
print(dataset_ids.head())

https://coastwatch.pfeg.noaa.gov/erddap/search/advanced.csv?page=1&itemsPerPage=10000&protocol=griddap&cdm_data_type=(ANY)&institution=(ANY)&ioos_category=(ANY)&keywords=(ANY)&long_name=(ANY)&standard_name=(ANY)&variableName=(ANY)&minLon=-99.0&maxLon=-88.0&minLat=20.0&maxLat=30.0&minTime=1468108800.0&maxTime=1486684800.0&searchFor=Coastal+Observing+Research+and+Development+Center%2C+Scripps+Institution+of+Oceanography
0    ucsdHfrE1
1    ucsdHfrE2
2    ucsdHfrE6
Name: Dataset ID, dtype: object

In [ ]:
# decide which datasets to actually use; presumably the highest res?
# maybe should depend on the model output?

In [57]:
def request(dataset_id):
    
    # In case the variable is named differently from the standard names, 
    # we back out the variable names here for each dataset. This also only 
    # returns those names for which there is data in the dataset.
    varnames = e.get_var_by_attr(
        dataset_id=dataset_id,
        standard_name=lambda v: v in standard_names
    )
    
    # the search terms that can be input for tabledap do not work for griddap
    # in erddapy currently. Instead, put together an opendap link and then 
    # narrow the dataset with xarray.
    e.dataset_id = dataset_id
    # get opendap link
    url = e.get_download_url(response='opendap')
    ds = xr.open_dataset(url).sel(latitude=slice(kw['min_lat'],kw['max_lat']), 
                                  longitude=slice(kw['min_lon'],kw['max_lon']), 
                                  time=slice(kw['min_time'],kw['max_time']))

    return (dataset_id, ds)

In [54]:
%%time
    
num_cores = multiprocessing.cpu_count()
downloads = Parallel(n_jobs=num_cores)(
    delayed(request)(dataset_id) for dataset_id in dataset_ids
)

dss = {dataset_id: ds for (dataset_id, ds) in downloads}

# (or can concat together the dss)
len(dss)

CPU times: user 73.3 ms, sys: 101 ms, total: 175 ms
Wall time: 22.9 s

3

# Sensors

New approach using erddapy to do this

In [626]:
e = ERDDAP(server="http://erddap.sensors.axds.co/erddap")

In [627]:
# Vars is the base names to use for searching but not full standard_names
Vars = ['sea_water_temperature','sea_water_practical_salinity','sea_water_speed','sea_water_velocity_to_direction','sea_surface_height']

# Get all possible related standard_names
url = e.get_categorize_url(
    categorize_by="standard_name",
    response="csv"
)

cats = pd.read_csv(url)["Category"]

# get one big list of all the standard_names to search for
standard_names = []
for Var in Vars:
    standard_names += [name for name in cats if name.startswith(Var)]
standard_names

['sea_water_temperature',
 'sea_water_temperature_quality_flag',
 'sea_water_practical_salinity',
 'sea_water_practical_salinity_quality_flag',
 'sea_water_speed',
 'sea_water_speed_quality_flag',
 'sea_water_velocity_to_direction',
 'sea_water_velocity_to_direction_quality_flag',
 'sea_surface_height',
 'sea_surface_height_above_sea_level',
 'sea_surface_height_above_sea_level_quality_flag',
 'sea_surface_height_amplitude_due_to_geocentric_ocean_tide',
 'sea_surface_height_amplitude_due_to_geocentric_ocean_tide_quality_flag',
 'sea_surface_height_quality_flag']

In [628]:
# find all the dataset ids which we will use to get the data
dataset_ids = []
for standard_name in standard_names:
    kw['standard_name'] = standard_name
    
    search_url = e.get_search_url(response="csv", **kw, items_per_page=10000)
    try:
        search = pd.read_csv(search_url)
    except:
        print('standard_name %s not found' % standard_name)
        
    dataset_ids.extend(search["Dataset ID"])
    
# only need a dataset id once since we will check them each for all standard_names
dataset_ids = list(set(dataset_ids))
len(dataset_ids)

standard_name sea_water_temperature_quality_flag not found
standard_name sea_water_practical_salinity_quality_flag not found
standard_name sea_water_speed_quality_flag not found
standard_name sea_water_velocity_to_direction_quality_flag not found
standard_name sea_surface_height not found
standard_name sea_surface_height_above_sea_level_quality_flag not found
standard_name sea_surface_height_amplitude_due_to_geocentric_ocean_tide_quality_flag not found
standard_name sea_surface_height_quality_flag not found

286

In [560]:
def request(dataset_id):
    
    # In case the variable is named differently from the standard names, 
    # we back out the variable names here for each dataset. This also only 
    # returns those names for which there is data in the dataset.
    varnames = e.get_var_by_attr(
        dataset_id=dataset_id,
        standard_name=lambda v: v in standard_names
    )

#     e.constraints = None
    e.protocol = "tabledap"
    e.variables = ["time","longitude", "latitude", "station"] + varnames
    # set the same time restraints as before
    e.constraints = {'time<=': kw['max_time'], 'time>=': kw['min_time'],}
    e.dataset_id = dataset_id
    # Drop cols and rows that are only NaNs.
    try:
        df = e.to_pandas(response="csvp", index_col=0, parse_dates=True).dropna(axis='index', how='all').dropna(axis='columns', how='all')
    except:
        print('no data to be read in for %s' % dataset_id)
        df = None
    return (dataset_id, df)

In [563]:
%%time
    
num_cores = multiprocessing.cpu_count()
downloads = Parallel(n_jobs=num_cores)(
    delayed(request)(dataset_id) for dataset_id in dataset_ids
)

dfs = {dataset_id: df for (dataset_id, df) in downloads}
# dfs
# (or can concat together the dfs)
len(dfs)

CPU times: user 1.11 s, sys: 549 ms, total: 1.66 s
Wall time: 1min

286

In [535]:
%%time

# downloads = []
# for dataset_id in dataset_ids[:5]:
    
    
#     downloads.append(request(dataset_id))
    
num_cores = multiprocessing.cpu_count()
downloads = Parallel(n_jobs=num_cores)(
    delayed(request)(dataset_id) for dataset_id in dataset_ids
)

dfs = {dataset_id: df for (dataset_id, df) in downloads}
# dfs
# (or can concat together the dfs)

/Users/kthyng/miniconda3/envs/env/lib/python3.7/site-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

CPU times: user 4.26 s, sys: 8.68 s, total: 12.9 s
Wall time: 5min 31s

In [536]:
len(dfs)

286

In [547]:
downloads[1]

('wmo_42927',
                            longitude (degrees_east)  latitude (degrees_north)  \
 time (UTC)
 2017-03-05 13:35:00+00:00                   -88.032                    28.418
 2017-03-05 13:15:00+00:00                   -88.032                    28.418
 2017-03-05 12:55:00+00:00                   -88.032                    28.418
 2017-03-05 12:14:00+00:00                   -88.032                    28.418
 2017-03-05 11:54:00+00:00                   -88.032                    28.418
 ...                                             ...                       ...
 2016-09-25 17:41:00+00:00                   -88.032                    28.418
 2016-09-25 17:21:00+00:00                   -88.032                    28.418
 2016-09-25 17:01:00+00:00                   -88.032                    28.418
 2016-09-25 16:41:00+00:00                   -88.032                    28.418
 2016-09-25 16:21:00+00:00                   -88.032                    28.418

                                                                   station  \
 time (UTC)
 2017-03-05 13:35:00+00:00  42927 - Noble Bully I - Mississippi Canyon 567
 2017-03-05 13:15:00+00:00  42927 - Noble Bully I - Mississippi Canyon 567
 2017-03-05 12:55:00+00:00  42927 - Noble Bully I - Mississippi Canyon 567
 2017-03-05 12:14:00+00:00  42927 - Noble Bully I - Mississippi Canyon 567
 2017-03-05 11:54:00+00:00  42927 - Noble Bully I - Mississippi Canyon 567
 ...                                                                   ...
 2016-09-25 17:41:00+00:00  42927 - Noble Bully I - Mississippi Canyon 567
 2016-09-25 17:21:00+00:00  42927 - Noble Bully I - Mississippi Canyon 567
 2016-09-25 17:01:00+00:00  42927 - Noble Bully I - Mississippi Canyon 567
 2016-09-25 16:41:00+00:00  42927 - Noble Bully I - Mississippi Canyon 567
 2016-09-25 16:21:00+00:00  42927 - Noble Bully I - Mississippi Canyon 567

                            sea_water_temperature_ocean (degree_Celsius)
 time (UTC)
 2017-03-05 13:35:00+00:00                                         22.35
 2017-03-05 13:15:00+00:00                                         22.31
 2017-03-05 12:55:00+00:00                                         22.38
 2017-03-05 12:14:00+00:00                                         22.31
 2017-03-05 11:54:00+00:00                                         22.35
 ...                                                                 ...
 2016-09-25 17:41:00+00:00                                         29.78
 2016-09-25 17:21:00+00:00                                         29.78
 2016-09-25 17:01:00+00:00                                         29.71
 2016-09-25 16:41:00+00:00                                         29.74
 2016-09-25 16:21:00+00:00                                         29.71

 [15846 rows x 4 columns])

In [546]:
dfs['wmo_42927']

,longitude (degrees_east),latitude (degrees_north),station,sea_water_temperature_ocean (degree_Celsius)
time (UTC),,,,
2017-03-05 13:35:00+00:00,-88.032,28.418,42927 - Noble Bully I - Mississippi Canyon 567,22.35
2017-03-05 13:15:00+00:00,-88.032,28.418,42927 - Noble Bully I - Mississippi Canyon 567,22.31
2017-03-05 12:55:00+00:00,-88.032,28.418,42927 - Noble Bully I - Mississippi Canyon 567,22.38
2017-03-05 12:14:00+00:00,-88.032,28.418,42927 - Noble Bully I - Mississippi Canyon 567,22.31
2017-03-05 11:54:00+00:00,-88.032,28.418,42927 - Noble Bully I - Mississippi Canyon 567,22.35
...,...,...,...,...
2016-09-25 17:41:00+00:00,-88.032,28.418,42927 - Noble Bully I - Mississippi Canyon 567,29.78
2016-09-25 17:21:00+00:00,-88.032,28.418,42927 - Noble Bully I - Mississippi Canyon 567,29.78
2016-09-25 17:01:00+00:00,-88.032,28.418,42927 - Noble Bully I - Mississippi Canyon 567,29.71
2016-09-25 16:41:00+00:00,-88.032,28.418,42927 - Noble Bully I - Mississippi Canyon 567,29.74
2016-09-25 16:21:00+00:00,-88.032,28.418,42927 - Noble Bully I - Mississippi Canyon 567,29.71

In [465]:

kw = {
    "standard_name": "sea_water_practical_salinity",
    "min_lon": -99.0,
    "max_lon": -88.0,
    "min_lat": 20.0,
    "max_lat": 30.0,
    "min_time": "2016-07-10T00:00:00Z",
    "max_time": "2017-02-10T00:00:00Z"
}


search_url = e.get_search_url(response="csv", **kw, items_per_page=10000)
# search_url
search = pd.read_csv(search_url)
search
# print(search["Dataset ID"][0])

# dataset_id = search["Dataset ID"][0]
# info_url = e.get_info_url(dataset_id=dataset_id, response="csv")
# info = pd.read_csv(info_url)
# info[100:150]

,griddap,Subset,tabledap,Make A Graph,wms,files,Title,Summary,FGDC,ISO 19115,Info,Background Info,RSS,Institution,Dataset ID
0,NaN,NaN,http://erddap.sensors.axds.co/erddap/tabledap/...,http://erddap.sensors.axds.co/erddap/tabledap/...,NaN,NaN,Aransas Wildlife Refuge (TCOON),Timeseries data from 'Aransas Wildlife Refuge ...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/info/noaa...,https://sensors.ioos.us/#metadata/57560/station,http://erddap.sensors.axds.co/erddap/rss/noaa_...,NOAA Center for Operational Oceanographic Prod...,noaa_nos_co_ops_8774230
1,NaN,NaN,http://erddap.sensors.axds.co/erddap/tabledap/...,http://erddap.sensors.axds.co/erddap/tabledap/...,NaN,NaN,"Baffin Bay, TX","Timeseries data from 'Baffin Bay, TX' (urn:ioo...",http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/info/noaa...,https://sensors.ioos.us/#metadata/45616/station,http://erddap.sensors.axds.co/erddap/rss/noaa_...,NOAA Center for Operational Oceanographic Prod...,noaa_nos_co_ops_8776604
2,NaN,NaN,http://erddap.sensors.axds.co/erddap/tabledap/...,http://erddap.sensors.axds.co/erddap/tabledap/...,NaN,NaN,"Barataria Bay N of Grand Isle, LA",Timeseries data from 'Barataria Bay N of Grand...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/info/gov_...,https://sensors.ioos.us/#metadata/24642/station,http://erddap.sensors.axds.co/erddap/rss/gov_u...,USGS National Water Information System (NWIS),gov_usgs_waterdata_07380251
3,NaN,NaN,http://erddap.sensors.axds.co/erddap/tabledap/...,http://erddap.sensors.axds.co/erddap/tabledap/...,NaN,NaN,"Barataria Bay near Grand Terre Island, LA",Timeseries data from 'Barataria Bay near Grand...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/info/gov_...,https://sensors.ioos.us/#metadata/23003/station,http://erddap.sensors.axds.co/erddap/rss/gov_u...,USGS National Water Information System (NWIS),gov_usgs_waterdata_291929089562600
4,NaN,NaN,http://erddap.sensors.axds.co/erddap/tabledap/...,http://erddap.sensors.axds.co/erddap/tabledap/...,NaN,NaN,"Barataria Pass at Grand Isle, LA",Timeseries data from 'Barataria Pass at Grand ...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/info/gov_...,https://sensors.ioos.us/#metadata/61772/station,http://erddap.sensors.axds.co/erddap/rss/gov_u...,USGS National Water Information System (NWIS),gov_usgs_waterdata_073802516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,NaN,NaN,http://erddap.sensors.axds.co/erddap/tabledap/...,http://erddap.sensors.axds.co/erddap/tabledap/...,NaN,NaN,"Texas Point, Sabine Pass","Timeseries data from 'Texas Point, Sabine Pass...",http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/info/noaa...,https://sensors.ioos.us/#metadata/57559/station,http://erddap.sensors.axds.co/erddap/rss/noaa_...,NOAA Center for Operational Oceanographic Prod...,noaa_nos_co_ops_8770822
62,NaN,NaN,http://erddap.sensors.axds.co/erddap/tabledap/...,http://erddap.sensors.axds.co/erddap/tabledap/...,NaN,NaN,"Trinity Rv at Wallisville, TX",Timeseries data from 'Trinity Rv at Wallisvill...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/info/gov_...,https://sensors.ioos.us/#metadata/32690/station,http://erddap.sensors.axds.co/erddap/rss/gov_u...,USGS National Water Information System (NWIS),gov_usgs_waterdata_08067252
63,NaN,NaN,http://erddap.sensors.axds.co/erddap/tabledap/...,http://erddap.sensors.axds.co/erddap/tabledap/...,NaN,NaN,"USS Lexington, TX","Timeseries data from 'USS Lexington, TX' (urn:...",http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/info/noaa...,https://sensors.ioos.us/#metadata/45612/station,http://erddap.sensors.axds.co/erddap/rss/noaa_...,NOAA Center for Operational Oceanographic Prod...,noaa_nos_co_ops_8775296
64,NaN,NaN,http://erddap.sensors.axds.co/erddap/tabledap/...,http://erddap.sensors.axds.co/erddap/tabledap/...,NaN,NaN,"Vermilion Bay near Cypremort Point, LA",Timeseries data from 'Vermilion Bay near Cypre...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/info/gov_...,https://sensors.ioos.us/#metadata/32721/station,http://erddap.sensors.axds.co/erddap/rss/gov_u...,USGS National Water Information System (NWIS),gov_usgs_waterdata_07387040
65,NaN,NaN,http://erddap.sensors.axds.co/erddap/tabledap/...,http://erddap.sensors.axds.co/erddap/tabledap/...,NaN,NaN,Vermilion Bay(B. Fearman) nr Intracoastal City...,Timeseries data from 'Vermilion Bay(B. Fearman...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/metadata/...,http://erddap.sensors.axds.co/erddap/info/gov_...,https://sensors.ioos.us/#metadata/29528/station,http://erddap.sensors.axds.co/erddap/rss/gov_u...,USGS National Water Information System (NWIS),gov_usgs_waterdata_07387050

In [427]:
info[info['Attribute Name'] == 'defaultDataQuery']['Value'].values

array(['sea_surface_height_above_sea_level_geoid_mllw,air_temperature,sea_water_electrical_conductivity,sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw,wind_speed_of_gust,sea_water_temperature,z,wind_speed,time,wind_from_direction,air_pressure,sea_water_practical_salinity&time>=max(time)-3days'],
      dtype=object)

In [436]:
info[info['Row Type'] == 'variable']['Variable Name'].values

array(['time', 'latitude', 'longitude', 'z', 'air_pressure',
       'sea_water_electrical_conductivity',
       'sea_water_practical_salinity', 'air_temperature',
       'sea_water_temperature',
       'sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw',
       'sea_surface_height_above_sea_level_geoid_mllw',
       'wind_speed_of_gust', 'wind_speed', 'wind_from_direction',
       'station'], dtype=object)

In [419]:
e.get_var_by_attr(
    dataset_id=dataset_id,
    standard_name="sea_water_temperature"
)

['sea_water_temperature']

In [420]:
e.get_var_by_attr(
    dataset_id=dataset_id,
    standard_name="sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw"
)

[]

In [421]:
e.get_var_by_attr(dataset_id, axis=lambda v: v in ["X", "Y", "Z", "T"])

['longitude', 'time', 'latitude', 'z']

In [430]:
e.get_var_by_attr(
    dataset_id=dataset_id,
    standard_name=lambda v: v in ["sea_water_practical_salinity","sea_water_temperature",'sea_surface_height',
 'sea_surface_height_above_sea_level',
 'sea_surface_height_above_sea_level_quality_flag',
 'sea_surface_height_amplitude_due_to_geocentric_ocean_tide',
 'sea_surface_height_amplitude_due_to_geocentric_ocean_tide_quality_flag',
 'sea_surface_height_quality_flag']
)

['sea_water_practical_salinity',
 'sea_surface_height_above_sea_level_geoid_mllw',
 'sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw',
 'sea_water_temperature']

In [422]:
e.get_var_by_attr(
    dataset_id=dataset_id,
    standard_name="sea_water_practical_salinity"
)

['sea_water_practical_salinity']

In [445]:
url = e.get_search_url(search_for="tabs", response="csv")

df = pd.read_csv(url)

In [449]:
info_url = e.get_info_url(dataset_id='tabs_b', response="csv")
info = pd.read_csv(info_url)
info

,Row Type,Variable Name,Attribute Name,Data Type,Value
0,attribute,NC_GLOBAL,cdm_data_type,String,TimeSeries
1,attribute,NC_GLOBAL,cdm_timeseries_variables,String,"station,longitude,latitude"
2,attribute,NC_GLOBAL,contributor_email,String,"None,feedback@axiomdatascience.com"
3,attribute,NC_GLOBAL,contributor_name,String,Gulf of Mexico Coastal Ocean Observing System ...
4,attribute,NC_GLOBAL,contributor_role,String,"funder,processor"
...,...,...,...,...,...
202,attribute,station,ioos_category,String,Identifier
203,attribute,station,ioos_code,String,urn:ioos:station:com.axiomdatascience:57437
204,attribute,station,long_name,String,TABS Buoy B
205,attribute,station,short_name,String,urn:ioos:station:tabs:B
206,attribute,station,type,String,buoy

In [450]:
info[info['Row Type'] == 'variable']['Variable Name'].values

array(['time', 'latitude', 'longitude', 'z', 'air_pressure',
       'sea_water_electrical_conductivity',
       'sea_water_velocity_to_direction', 'sea_water_speed',
       'relative_humidity', 'sea_water_practical_salinity',
       'air_temperature', 'sea_water_temperature', 'wind_speed_of_gust',
       'wind_speed', 'wind_from_direction', 'station'], dtype=object)

In [452]:
url = e.get_categorize_url(
    categorize_by="standard_name",
    response="csv"
)

cats = pd.read_csv(url)["Category"]
print([name for name in cats if 'sea_surface_height' in name])
print([name for name in cats if 'sea_water_practical_salinity' in name])
print([name for name in cats if 'sea_water_temperature' in name])
print([name for name in cats if 'sea_water_speed' in name])
print([name for name in cats if 'sea_water_velocity_to_direction' in name])

['sea_surface_height', 'sea_surface_height_above_sea_level', 'sea_surface_height_above_sea_level_quality_flag', 'sea_surface_height_amplitude_due_to_geocentric_ocean_tide', 'sea_surface_height_amplitude_due_to_geocentric_ocean_tide_quality_flag', 'sea_surface_height_quality_flag']
['sea_water_practical_salinity', 'sea_water_practical_salinity_quality_flag']
['difference_between_sea_water_temperature_and_freezing_point', 'sea_water_temperature', 'sea_water_temperature_quality_flag']
['sea_water_speed', 'sea_water_speed_quality_flag']
['sea_water_velocity_to_direction', 'sea_water_velocity_to_direction_quality_flag']

In [494]:
# e = ERDDAP(server="http://erddap.sensors.axds.co/erddap")
e.constraints = None
e.protocol = "tabledap"
# e.variables = list(info[info['Row Type'] == 'variable']['Variable Name'].values)
e.variables = ["time","longitude", "latitude", "station", "sea_water_temperature"]#, "sea_water_practical_salinity",'sea_surface_height_above_sea_level_geoid_mllw',
#  'sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw']
e.dataset_id = dataset_id
# Drop units in the first line and NaNs.
df = e.to_pandas(response="csvp").dropna(axis='index', how='all').dropna(axis='columns', how='all')
df

ValueError: I/O operation on closed file.

In [368]:
df

        longitude  latitude  sea_water_temperature
64471     -69.248    40.503                   12.7
64473     -69.248    40.503                   12.7
64475     -69.248    40.503                   12.7
64477     -69.248    40.503                   12.7
64479     -69.248    40.503                   12.7
...           ...       ...                    ...
127974    -69.248    40.503                   11.8
127976    -69.248    40.503                   11.8
127978    -69.248    40.503                   11.9
127980    -69.248    40.503                   11.9
127982    -69.248    40.503                   11.8

[42923 rows x 3 columns]

# What data does Axiom already have compared to what is out there

## NDBC

### Active

Get list of active stations. 

List also available here: https://www.ndbc.noaa.gov/activestations.xml

In [233]:
# https://unidata.github.io/siphon/latest/examples/ndbc/latest_request.html
df = NDBC.latest_observations()
stations_ndbc_active = df.station.values
df.head()

,station,latitude,longitude,wind_direction,wind_speed,wind_gust,wave_height,dominant_wave_period,average_wave_period,dominant_wave_direction,pressure,3hr_pressure_tendency,air_temperature,water_temperature,dewpoint,visibility,water_level_above_mean,time
0,14041,-8.00,55.00,229.0,1.0,NaN,NaN,NaN,NaN,NaN,1011.2,NaN,28.3,29.6,NaN,NaN,NaN,2021-03-22 17:00:00+00:00
1,14047,-4.00,57.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.6,30.4,NaN,NaN,NaN,2021-03-22 17:00:00+00:00
2,22101,37.24,126.02,180.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.2,5.2,NaN,NaN,NaN,2021-03-22 17:00:00+00:00
3,22102,34.79,125.78,240.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1,8.1,NaN,NaN,NaN,2021-03-22 17:00:00+00:00
4,22103,34.00,127.50,290.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.4,14.3,NaN,NaN,NaN,2021-03-22 17:00:00+00:00

### Full

Get list of all stations, which would have to be filtered to find appropriate historical data

In [144]:
url = 'https://www.ndbc.noaa.gov/data/stations/station_table.txt'
dfall = pd.read_table(url, sep='|', index_col=0)
dfall

,OWNER,TTYPE,HULL,NAME,PAYLOAD,LOCATION,TIMEZONE,FORECAST,NOTE
# STATION_ID,,,,,,,,,
#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00922,DU,Slocum Glider,NaN,OTN201 - 4800922,NaN,"30.000 N 90.000 W (30&#176;0'0"" N 90&#176;0'0"" W)",E,,NaN
00923,DU,Slocum Glider,NaN,OTN200 - 4800923,NaN,"30.000 N 90.000 W (30&#176;0'0"" N 90&#176;0'0"" W)",E,,NaN
01500,R,Spray Glider,NaN,SP031 - 3801500,NaN,"30.000 N 90.000 W (30&#176;0'0"" N 90&#176;0'0"" W)",?,,NaN
01502,UA,Slocum Glider,NaN,Penobscot - 4801502,NaN,"30.000 N 90.000 W (30&#176;0'0"" N 90&#176;0'0"" W)",E,,NaN
...,...,...,...,...,...,...,...,...,...
ygnn6,EA,GLOS Weather Station,NaN,"Niagara Coast Guard Station, NY",NaN,"43.262 N 79.064 W (43&#176;15'42"" N 79&#176;3'...",E,,"For Great Lakes marine forecasts, select: <a h..."
ykrv2,PT,Water Level Observation Network,NaN,"8637611 - York River East Rear Range Light, VA",NaN,"37.251 N 76.342 W (37&#176;15'5"" N 76&#176;20'...",E,FZUS51.KAKQ,NaN
yktv2,O,Water Level Observation Network,NaN,"8637689 - Yorktown USCG Training Center, VA",NaN,"37.227 N 76.479 W (37&#176;13'36"" N 76&#176;28...",E,FZUS51.KAKQ,NaN
yrsv2,NR,NERRS Weather Station,NaN,"Taskinas Creek, Chesapeake Bay Reserve, VA",NaN,"37.414 N 76.712 W (37&#176;24'51"" N 76&#176;42...",E,,Water Quality data for this Reserve are availa...
zbqn7,NR,NERRS Water Quality Station,NaN,"Zeke's Basin, North Carolina",NaN,"33.955 N 77.935 W (33&#176;57'17"" N 77&#176;56...",E,,Right whales are active off NC from November t...

Filter full list of NDBC stations to get those that would match with the descriptions of the active stations, and also limit to the US.

In [294]:
# descriptions used in active buoy list
descs = ['buoy', 'platform', 'tower', 'station', 'Water Level Observation Network']

# lon lat box to determine if in US
# [just west of AK stations, just east of Maine stations, just south of Hawaii, north of AK historial stations]
llbox = [-192, -65, 15.5, 76.5]

# loop over full list of NDBC stations and limit to those that seem to match
# those in the active list (avoiding listings like gliders)
# for id, ttype in dfall[['# STATION_ID ',' TTYPE ']].values:
stations_ndbc_all = []
for id, (loc, ttype) in zip(dfall.index.values[1:], dfall[[' LOCATION ', ' TTYPE ']].values[1:]):
    inList, toKeep = False, False
    # search for description in NDBC 
    for desc in descs:
        if desc in str(ttype):
            inList = True
    # filter by lon/lat
    if inList and ('N' in loc) and ('W' in loc):  # don't need any in southern hemisphere
#         print(loc)
        lat = float(loc.split('N')[0][:-1])
        lon = -float(loc.split('N')[1].split(' ')[1])
#         print(lon,lat)
        if (llbox[0]<lon<llbox[1]) and (llbox[2] < lat < llbox[3]):
            toKeep = True
#             print(id)
            stations_ndbc_all.append(id)

In [295]:
len(stations_ndbc_all)

606

### Axiom list

In [296]:
# agent id is 18 for NDBC
url2 = 'https://oikos.axds.co/rest/sensor/stations/by/agent/18'
ds2 = pd.read_json(url2)
ds2.set_index('id', inplace=True)
ds2.sourceLabel = [label.lower() for label in ds2.sourceLabel.values]
ds2.head()

,label,platformTypeId,sourceLabel,sourceUrl,isactive,submitToNdbc,addToThredds,wmoId,source,owner,otherAffiliations,lat,lon,elevation,active,visible
id,,,,,,,,,,,,,,,,
49357,"46247 - San Francisco Offshore, CA (180)",10,46247,https://www.ndbc.noaa.gov/station_page.php?sta...,False,False,False,None,"{'id': 51, 'label': 'NetCDF', 'type': 'source'}","{'id': 18, 'label': 'NOAA National Data Buoy C...",[],37.752617,-122.83313,0,False,False
41916,"SHPF1 - SHP - Shell Point, FL",6,shpf1,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,SHPF1,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 144, 'label': 'USF CMS - Coastal Ocean ...","[{'id': 18, 'label': 'NOAA National Data Buoy ...",30.058000,-84.29000,0,True,True
41922,SSBN7 - Sunset Beach Nearshore Waves,6,ssbn7,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,SSBN7,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 154, 'label': 'UNCW - Coastal Ocean Res...","[{'id': 234, 'label': 'Southeast Coastal Ocean...",33.830000,-78.48000,0,True,True
57366,KATP - Green Canyon 787 / Atlantis (BP),6,katp,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,KATP,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 18, 'label': 'NOAA National Data Buoy C...","[{'id': 18, 'label': 'NOAA National Data Buoy ...",27.195000,-90.02700,0,True,True
15683,"PILA2 - Pilot Rock, AK",10,pila2,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,PILA2,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 18, 'label': 'NOAA National Data Buoy C...","[{'id': 18, 'label': 'NOAA National Data Buoy ...",59.742000,-149.47000,24,True,True

In [331]:
urlall = 'https://erddap.dataexplorer.oceanobservatories.org/erddap/tabledap/allDatasets.nc?datasetID%2Caccessible%2Cinstitution%2CdataStructure%2Ccdm_data_type%2Cclass%2Ctitle%2CminLongitude%2CmaxLongitude%2ClongitudeSpacing%2CminLatitude%2CmaxLatitude%2ClatitudeSpacing%2CminAltitude%2CmaxAltitude%2CminTime%2CmaxTime%2CtimeSpacing%2Cgriddap%2Csubset%2Ctabledap%2CMakeAGraph%2Csos%2Cwcs%2Cwms%2Cfiles%2Cfgdc%2Ciso19115%2Cmetadata%2CsourceUrl%2CinfoUrl%2Crss%2Cemail%2CtestOutOfDate%2CoutOfDate%2Csummary&minLongitude%3E=-99&maxLongitude%3C=-88&minLatitude%3E=20&maxLatitude%3E=31&minTime%3E=2010-01-01T00%3A00%3A00Z&maxTime%3C=2020-01-01T00%3A00%3A00Z.nc'

In [335]:
urlall = 'https://erddap.dataexplorer.oceanobservatories.org/erddap/tabledap/allDatasets.nc?minLongitude%2CmaxLongitude%2CminLatitude%2CmaxLatitude%2CminTime%2CmaxTime&minLongitude%3E=-99&maxLongitude%3C=-88&minLatitude%3E=20&maxLatitude%3E=31&minTime%3E=2010-01-01T00%3A00%3A00Z&maxTime%3C=2020-01-01T00%3A00%3A00Z.nc'

In [ ]:
'https://erddap.sensors.ioos.us/erddap/tabledap/edu_ucsd_cdip_244.html'
'https://erddap.sensors.ioos.us/erddap/tabledap/edu_ucsd_cdip_244.html?time%2Csea_water_velocity_to_direction%2Csea_water_speed%2Csea_water_velocity_to_direction_qc_agg%2Csea_water_speed_qc_agg'
'https://erddap.sensors.ioos.us/erddap/tabledap/indian-river-lagoon-fort-pierce-.html?time%2Cair_pressure%2Cair_pressure_qc_agg'

In [339]:
'https://erddap.dataexplorer.oceanobservatories.org/erddap/tabledap/allDatasets.nc?accessible%2Cinstitution%2CdataStructure%2Ccdm_data_type%2Cclass%2CminLongitude%2CmaxLongitude%2CminLatitude%2CmaxLatitude%2CminTime%2CmaxTime%2CtestOutOfDate&accessible=%22public%22&minLongitude%3E=-99&maxLongitude%3C=-89&minLatitude%3E=20&maxLatitude%3C=30&minTime%3E=2010-01-01T00%3A00%3A00Z&maxTime%3C=2020-01-01T00%3A00%3A00Z&distinct().nc'

'https://erddap.dataexplorer.oceanobservatories.org/erddap/tabledap/allDatasets.nc?accessible%2Cinstitution%2CdataStructure%2Ccdm_data_type%2Cclass%2CminLongitude%2CmaxLongitude%2CminLatitude%2CmaxLatitude%2CminTime%2CmaxTime%2CtestOutOfDate&accessible=%22public%22&minLongitude%3E=-99&maxLongitude%3C=-89&minLatitude%3E=20&maxLatitude%3C=30&minTime%3E=2010-01-01T00%3A00%3A00Z&maxTime%3C=2020-01-01T00%3A00%3A00Z&distinct().nc'

In [348]:
urlall = 'https://erddap.sensors.ioos.us/erddap/tabledap/indian-river-lagoon-fort-pierce-.nc?time%2Cair_pressure%2Cair_pressure_qc_agg'

In [349]:
import xarray as xr
ds = xr.open_dataset(urlall)

OSError: [Errno -90] NetCDF: file not found: b'https://erddap.sensors.ioos.us/erddap/tabledap/indian-river-lagoon-fort-pierce-.nc?time%2Cair_pressure%2Cair_pressure_qc_agg'

In [353]:
url = 'https://erddap.dataexplorer.oceanobservatories.org/erddap/tabledap/allDatasets.nc?minLongitude=-99&maxLongitude=-89&minLatitude=20&maxLatitude=30&minTime=2010-01-01T00%3A00%3A00Z&maxTime%3C=2020-01-01T00%3A00%3A00Z'
ds = xr.open_dataset(url)

OSError: [Errno -75] NetCDF: Malformed or unexpected Constraint: b'https://erddap.dataexplorer.oceanobservatories.org/erddap/tabledap/allDatasets.nc?minLongitude=-99&maxLongitude=-89&minLatitude=20&maxLatitude=30&minTime=2010-01-01T00%3A00%3A00Z&maxTime%3C=2020-01-01T00%3A00%3A00Z'

In [347]:
url = 'https://erddap.sensors.ioos.us/erddap/tabledap/edu_ucsd_cdip_244.csv?time%2Csea_water_velocity_to_direction%2Csea_water_speed%2Csea_water_velocity_to_direction_qc_agg%2Csea_water_speed_qc_agg'
https://erddap.sensors.ioos.us/erddap/tabledap/edu_ucsd_cdip_132.csv?time%2Csea_water_velocity_to_direction%2Csea_water_speed%2Csea_water_velocity_to_direction_qc_agg%2Csea_water_speed_qc_agg
dft = pd.read_csv(url)
dft

,time,sea_water_velocity_to_direction,sea_water_speed,sea_water_velocity_to_direction_qc_agg,sea_water_speed_qc_agg
0,UTC,degrees,m.s-1,NaN,NaN
1,2019-02-16T01:03:45Z,NaN,NaN,NaN,NaN
2,2019-02-16T01:32:45Z,NaN,NaN,NaN,NaN
3,2019-02-16T01:33:45Z,NaN,NaN,NaN,NaN
4,2019-02-16T02:02:45Z,NaN,NaN,NaN,NaN
...,...,...,...,...,...
116294,2021-03-22T21:55:00Z,NaN,NaN,NaN,NaN
116295,2021-03-22T22:00:00Z,125.69230651855469,0.22499999403953552,1.0,1.0
116296,2021-03-22T22:05:00Z,NaN,NaN,NaN,NaN
116297,2021-03-22T22:10:00Z,116.02198028564453,0.2619999945163727,1.0,1.0
116298,2021-03-22T22:15:00Z,NaN,NaN,NaN,NaN

In [354]:
url = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=10&type=sensor_station&geom=%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-134.69678953882718%2C33.10075517593025%5D%2C%5B-122.22549788393279%2C33.10075517593025%5D%2C%5B-122.22549788393279%2C43.67582565045436%5D%2C%5B-134.69678953882718%2C43.67582565045436%5D%2C%5B-134.69678953882718%2C33.10075517593025%5D%5D%5D%7D&startDateTime=1616140800&endDateTime=1616486399'

In [361]:
ds = pd.read_json(url, typ='series')
ds

ValueError: Expected object or value

In [371]:
import io
url = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=10&type=sensor_station'
res = io.StringIO(url)
# result.decode('utf-8')
# pd.read_json(url)

In [531]:
nc4.date2num?

Docstring:
date2num(dates, units, calendar=None)

Return numeric time values given datetime objects. The units
of the numeric time values are described by the **units** argument
and the **calendar** keyword. The datetime objects must
be in UTC with no time-zone offset.  If there is a
time-zone offset in **units**, it will be applied to the
returned numeric values.

**dates**: A datetime object or a sequence of datetime objects.
The datetime objects should not include a time-zone offset. They
can be either native python datetime instances (which use
the proleptic gregorian calendar) or cftime.datetime instances.

**units**: a string of the form **<time units> since <reference time>**
describing the time units. **<time units>** can be days, hours, minutes,
seconds, milliseconds or microseconds. **<reference time>** is the time
origin. **months_since** is allowed *only* for the **360_day** calendar.

**calendar**: describes the calendar to be used in the time calculations.
All the values currently defined in the
[CF metadata convention](http://cfconventions.org)
Valid calendars **'standard', 'gregorian', 'proleptic_gregorian'
'noleap', '365_day', '360_day', 'julian', 'all_leap', '366_day'**.
Default is `None` which means the calendar associated with the rist
input datetime instance will be used.

returns a numeric time value, or an array of numeric time values
with approximately 1 microsecond accuracy.
Type:      builtin_function_or_method

In [529]:
import netCDF4 as nc4
nc4.num2date(1000186399, units='seconds since 1970-01-01')

cftime.DatetimeGregorian(2001, 9, 11, 5, 33, 19, 0)

In [532]:
nc4.date2num(pd.Timestamp('2010-01-01'), units='seconds since 1970-01-01')

1262304000

In [539]:
import urllib
import json
# url = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=1000&type=sensor_station&geom=%7B%22type%22%3A%22Polygon%22,%22coordinates%22%3A[[[-99,20],[-88,20],[-88,30],[-99,30],[-99,20]]]%7D&searchStartDateTime=1262304000&endDateTime=1616486399'
url = 'https://search.axds.co/v2/search?portalId=45&page=1&geom=%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-134.40150203577394%2C50.51342652633956%5D%2C%5B-126.91416037374725%2C50.51342652633956%5D%2C%5B-126.91416037374725%2C55.3541353102106%5D%2C%5B-134.40150203577394%2C55.3541353102106%5D%2C%5B-134.40150203577394%2C50.51342652633956%5D%5D%5D%7D&startDateTime=1584939600&endDateTime=1616561999&type=sensor_station&type=parameter_group&type=affiliate&pageSize=1'
# with specific variable
url = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=10&type=sensor_station&geom=%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-134.40150203577394%2C50.51342652633956%5D%2C%5B-126.91416037374725%2C50.51342652633956%5D%2C%5B-126.91416037374725%2C55.3541353102106%5D%2C%5B-134.40150203577394%2C55.3541353102106%5D%2C%5B-134.40150203577394%2C50.51342652633956%5D%5D%5D%7D&startDateTime=1584939600&endDateTime=1616561999&tag=Parameter%20Group%3ATemperature%3A%20Water%20Temperature'
# with multiple variables
url = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=10&type=sensor_station&geom=%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-100.52377679565701%2C16.29905101458183%5D%2C%5B-77.97366543708242%2C16.29905101458183%5D%2C%5B-77.97366543708242%2C32.84267363195431%5D%2C%5B-100.52377679565701%2C32.84267363195431%5D%2C%5B-100.52377679565701%2C16.29905101458183%5D%5D%5D%7D&startDateTime=1584939600&endDateTime=1616561999&tag=Parameter%20Group%3ATemperature%3A%20Water%20Temperature&tag=Parameter%20Group%3ACurrents'
result = urllib.request.urlopen(url)
result = result.readline()
res = result.decode('utf-8')
res = res[len('callback('):-1]
res
res = json.loads(res)
res
meta = pd.json_normalize(res)
meta

,error,accessMethods,types,results,totalHits,page,totalPages,searchTimeInMillis,totalTimeInMillis,portalStartDateTime,...,searchEndDateTime,successfulShards,failedShards,totalShards,shardSearchFailures,query,explanations,tags.Data Provider,tags.Parameter Group,tags.Affiliate
0,None,[],"[{'id': 'sensor_station', 'label': 'Sensor Sta...","[{'data': {'hasNarrative': False, 'figures': [...",804,1,1,147,199,1918-10-12T01:00:00.000Z,...,2021-03-30T10:55:00.000Z,5,0,5,[],None,None,"[{'id': None, 'label': 'Amerada Hess Corporati...","[{'id': None, 'label': 'Atmospheric Pressure: ...","[{'id': None, 'label': 'Amerada Hess Corporati..."

In [540]:
meta.columns

Index(['error', 'accessMethods', 'types', 'results', 'totalHits', 'page',
       'totalPages', 'searchTimeInMillis', 'totalTimeInMillis',
       'portalStartDateTime', 'portalEndDateTime', 'searchStartDateTime',
       'searchEndDateTime', 'successfulShards', 'failedShards', 'totalShards',
       'shardSearchFailures', 'query', 'explanations', 'tags.Data Provider',
       'tags.Parameter Group', 'tags.Affiliate'],
      dtype='object')

In [541]:
meta[['portalStartDateTime', 'portalEndDateTime', 'searchStartDateTime',
       'searchEndDateTime']]

,portalStartDateTime,portalEndDateTime,searchStartDateTime,searchEndDateTime
0,1918-10-12T01:00:00.000Z,2021-03-30T17:53:00.000Z,1990-07-28T16:30:00.000Z,2021-03-30T10:55:00.000Z

In [495]:
meta[['portalStartDateTime', 'portalEndDateTime', 'searchStartDateTime',
       'searchEndDateTime']]

,portalStartDateTime,portalEndDateTime,searchStartDateTime,searchEndDateTime
0,1918-10-12T01:00:00.000Z,2021-03-30T16:54:00.000Z,1990-07-28T16:30:00.000Z,2021-03-30T10:55:00.000Z

In [459]:
len(meta['results'][0])

570

### Compare lists

These stations are on both the full NDBC list and Axiom's NDBC list

In [304]:
onbothlists = list(set(stations_ndbc_all) & set(list(ds2.sourceLabel.values)))

In [325]:
summary = '''There are:
             -%i buoys on the active NDBC buoy list,
             -%i buoys on the full NDBC list, 
             -%i buoys on the filtered full NDBC to try to catch only appropriate U.S. buoys, 
             -%i buoys on the Axiom NDBC list, and 
             -%i buoys that are on both the Axiom and filtered full NDBC list''' \
             % (len(stations_ndbc_active), len(dfall), len(stations_ndbc_all),
                len(ds2), len(onbothlists))
print(summary)

There are:
             -733 buoys on the active NDBC buoy list,
             -1935 buoys on the full NDBC list,
             -606 buoys on the filtered full NDBC to try to catch only appropriate U.S. buoys,
             -1001 buoys on the Axiom NDBC list, and
             -236 buoys that are on both the Axiom and filtered full NDBC list

In [328]:
print('The following NDBC buoys are not on the Axiom list: ', list(set(stations_ndbc_all) - set(list(ds2.sourceLabel.values))))

The following NDBC buoys are not on the Axiom list:  ['tcbm2', 'scis1', 'atgm1', 'tcmw1', 'pxsc1', '41005', '42037', 'mcyf1', 'bdsp1', 'fptt2', '42006', 'neaw1', '46304', 'gtot2', 'sapf1', 'camm2', 'gctf1', 'mbet2', 'espp4', 'ppxc1', 'nwwh1', '42041', 'labl1', 'acyn4', 'amps3', 'gwpm6', 'dkcm6', 'mgpt2', 'eb31', '46416', 'ulra2', 'darts', 'pnlm4', '46037', 'pmoa2', 'optf1', '41021', 'msg10', 'pvdr1', 'pxac1', 'sblf1', 'eb43', 'nwcl1', 'chyw1', 'mzxc1', 'txpt2', 'mros1', 'psxc1', '44490', 'hrbm4', 'qptr1', 'lndc1', 'msg14', '46008', 'wahv2', '44038', '42009', 'crva2', 'jmpn7', '44026', 'pmaf1', '41011', '46flo', 'frvm3', 'kwhh1', 'tlbo3', 'dartl', 'dartn', 'smoc1', 'brhc3', 'oouh1', 'apcf1', 'cndo1', 'nfdf1', 'amrl1', 'bltm2', '42015', 'orin7', 'mnmm4', '41012', 'lpnm4', 'pfdc1', 'kptn6', 'fcgt2', 'bftn7', '44023', 'rplv2', 'cman4', 'tpaf1', 'ptit2', 'alxn6', 'casm1', 'dmbc1', 'pacf1', 'clbp4', '42025', 'capl1', 'mnpv2', 'frdf1', 'dpxc1', '41023', 'gom01', 'blif1', 'skcf1', '46107', 'shbl1', 'mcgm4', 'apam2', '44004', '42054', 'gbww3', '42053', '42004', 'trdf1', '44003', 'vcaf1', 'vakf1', 'pill1', 'dartt', 'yktv2', '41007', 'ccuf1', 'cfwm1', '44071', 'mbrm4', 'ebef1', 'cryv2', 'dartk', 'pnlm6', '45010', 'vcva2', 'pclf1', '46415', 'lwtv2', 'wlon7', 'mrho1', 'nwhc3', 'chbv2', '46t29', 'brnd1', 'gcvf1', 'ltjf1', 'msg12', 'cpmw1', 'phbp1', '42018', 'wycm6', 'thro1', 'mgip4', 'eb35', 'lwsd1', 'erkc1', 'hrvc1', 'okxc1', 'chyv2', '46079', '48011', '46007', 'npsf1', 'robn4', 'hlnm4', 'gnjt2', '44036', 'mbpa1', 'eb32', 'wndv2', 'sjnp4', 'ykrv2', 'ptim4', 'iiwc1', 'pegf1', '42038', '46106', 'eb01', 'lkwf1', 'rcpt2', '45011', '46303', 'sndp5', 'rdyd1', 'bkbf1', 'cptr1', 'bltm3', 'audp4', 'domv2', '44031', '46051', 'asto3', 'mtkn6', 'ptcr1', 'eptt2', '51005', 'ulam6', 'bgnn4', 'kptv2', 'tshf1', 'cpnw1', 'cwsec', '51027', 'nlnc3', 'eb70', 'demo2', 'dmsf1', 'deld1', 'ebsw1', 'mcga1', '46009', 'pstn6', '44070', 'ntkm3', 'lapw1', '41x24', '44t14', '41035', 'pptm2', 'dartj', 'dartu', 'psbc1', '44019', 'nwpr1', 'tcnw1', 'pstl1', 'carl1', '51026', 'fskm2', 'nblp1', 'jxuf1', 'anpt2', '46045', 'wavm6', 'misp4', 'baxc1', 'plsp4', 'mqtt2', '41a46', 'faio1', 'wasd2', 'bdrn4', 'pcbf1', 'tesl1', 'bhbm3', 'darth', '44010', 'dartr', '41425', 'bufn6', 'batn6', 'rarm6', '42016', 'amps4', 'amps1', 'osgn6', 'darti', 'ldtm4', '44015', 'nlec1', '44001', 'rcyf1', 'swpv2', 'nian6', 'dulm5', '46062', 'ctgm1', 'fmoa1', 'whoi2', 'frwl1', 'bktl1', 'njlc1', '45160', 'pxoc1', 'eb33', 'obla1', 'chts1', 'darto', '42042', '46414', '45009', '42408', 'bygl1', 'ptww1', '46b35', '44035', 'cmti2', 'eb90', '46030', 'rcrn6', 'bzbm3', 'mypf1', 'slim2', 'ftgm4', '41003', '41016', '42017', 'wptw1', 'kwnw3', 'cwbf1', 'fpkg1', 'frdw1', 'tokw1', 'cbbv2', 'eb10', '41015', 'ertf1', 'fmrf1', 'dtlm4', 'obgn6', '46024', '42005', '42080', '41x01', '46115', '44006', '46405', 'mrcp1', '511x1', 'ocim2', 'hmdo3', 'lcll1', 'kywf1', 'hcgn7', 'klih1', 'agcm4', 'rckm4', 'iloh1', 'bism2', 'mokh1', 'chcm2', 'foxr1', 'mhbt2', '45155', 'jnea2', 'chtm3', 'tpbn4', 'frps1', 'wnem4', 'sbpt2', '42430', 'gdmm5', 'ptaw1', '41022', 'sjsn4', 'covm2', '46003', '46401', 'agxc1', '46063', 'bzst2', 'gpom6', '41d20', 'psbm1', 'dartm', 'macm4', '46048', '46040', 'ltrm4', 'lopw1', '41006', 'ptbm6', 'meyc1', '42007', 'swpm4', 'dukn7', '41017', 'sdhn4', 'gpst2', 'amps2', 'gisl1', '45t01', 'wdsv2', 'fsnm2']

In [300]:
stations_ndbc_all

606

In [47]:
[('buoy' in str(ttype).lower()) or ('platform' in str(ttype).lower()) or ('station' in str(ttype).lower()) or 
 ('tower' in str(ttype).lower()) or ('Water Level Observation Network' in str(ttype).lower()) for ttype in allstations[' TTYPE ']].count(True)

1385

DON'T INCLUDE IF OUTSIDE US

In [125]:
stationlist = [('buoy' in str(ttype).lower()) or ('platform' in str(ttype).lower()) or ('station' in str(ttype).lower()) or 
 ('tower' in str(ttype).lower()) or ('Water Level Observation Network' in str(ttype).lower()) for ttype in allstations[' TTYPE ']]
stationlist = list(allstations.iloc[stationlist].index.values)
stationlist

['0y2w3',
 '13001',
 '13002',
 '13008',
 '13009',
 '13010',
 '14040',
 '14041',
 '14043',
 '14047',
 '15001',
 '15002',
 '15006',
 '15007',
 '15319',
 '18ci3',
 '18cy3',
 '20cm4',
 '21178',
 '21346',
 '21347',
 '21348',
 '21401',
 '21413',
 '21414',
 '21415',
 '21416',
 '21417',
 '21418',
 '21419',
 '21420',
 '21595',
 '21597',
 '21598',
 '21600',
 '21636',
 '21637',
 '21640',
 '21707',
 '21d13',
 '22101',
 '22102',
 '22103',
 '22104',
 '22105',
 '22106',
 '22107',
 '22108',
 '23001',
 '23003',
 '23004',
 '23006',
 '23007',
 '23008',
 '23009',
 '23010',
 '23011',
 '23012',
 '23013',
 '23014',
 '23015',
 '23016',
 '23017',
 '23020',
 '23217',
 '23218',
 '23219',
 '23220',
 '23223',
 '23225',
 '23226',
 '23227',
 '23228',
 '23401',
 '28401',
 '31001',
 '31002',
 '31003',
 '31004',
 '31005',
 '31006',
 '31007',
 '31051',
 '31052',
 '31053',
 '31201',
 '31260',
 '31261',
 '31478',
 '32012',
 '32066',
 '32067',
 '32068',
 '32069',
 '32301',
 '32302',
 '32401',
 '32402',
 '32403',
 '32404',
 '32411',
 '32412',
 '32413',
 '32487',
 '32488',
 '32489',
 '32745',
 '32746',
 '32d12',
 '32st0',
 '34002',
 '34420',
 '3fus2',
 '41001',
 '41002',
 '41003',
 '41004',
 '41005',
 '41006',
 '41007',
 '41008',
 '41009',
 '41010',
 '41011',
 '41012',
 '41013',
 '41015',
 '41016',
 '41017',
 '41018',
 '41021',
 '41022',
 '41023',
 '41024',
 '41025',
 '41026',
 '41027',
 '41029',
 '41030',
 '41033',
 '41035',
 '41036',
 '41037',
 '41038',
 '41040',
 '41041',
 '41043',
 '41044',
 '41046',
 '41047',
 '41048',
 '41049',
 '41051',
 '41052',
 '41053',
 '41056',
 '41057',
 '41058',
 '41060',
 '41061',
 '41062',
 '41063',
 '41064',
 '41096',
 '41097',
 '41098',
 '41100',
 '41101',
 '41108',
 '41109',
 '41110',
 '41112',
 '41113',
 '41114',
 '41115',
 '41116',
 '41117',
 '41118',
 '41119',
 '41139',
 '41140',
 '41141',
 '41159',
 '41193',
 '41194',
 '41420',
 '41421',
 '41424',
 '41425',
 '41554',
 '41670',
 '41852',
 '41904',
 '41933',
 '41a46',
 '41b41',
 '41d20',
 '41d21',
 '41nt0',
 '41s43',
 '41s46',
 '41x01',
 '41x24',
 '42001',
 '42002',
 '42003',
 '42004',
 '42005',
 '42006',
 '42007',
 '42008',
 '42009',
 '42010',
 '42011',
 '42012',
 '42013',
 '42014',
 '42015',
 '42016',
 '42017',
 '42018',
 '42019',
 '42020',
 '42021',
 '42022',
 '42023',
 '42024',
 '42025',
 '42026',
 '42031',
 '42035',
 '42036',
 '42037',
 '42038',
 '42039',
 '42040',
 '42041',
 '42042',
 '42053',
 '42054',
 '42055',
 '42056',
 '42057',
 '42058',
 '42059',
 '42060',
 '42065',
 '42067',
 '42078',
 '42079',
 '42080',
 '42085',
 '42087',
 '42088',
 '42089',
 '42090',
 '42092',
 '42093',
 '42094',
 '42095',
 '42097',
 '42098',
 '42099',
 '42360',
 '42361',
 '42362',
 '42363',
 '42364',
 '42365',
 '42366',
 '42367',
 '42368',
 '42369',
 '42370',
 '42371',
 '42372',
 '42373',
 '42374',
 '42375',
 '42376',
 '42377',
 '42379',
 '42380',
 '42381',
 '42382',
 '42383',
 '42384',
 '42385',
 '42386',
 '42387',
 '42388',
 '42390',
 '42391',
 '42392',
 '42393',
 '42394',
 '42395',
 '42396',
 '42397',
 '42398',
 '42399',
 '42400',
 '42401',
 '42402',
 '42407',
 '42408',
 '42409',
 '42430',
 '42534',
 '42887',
 '42x60',
 '43010',
 '43412',
 '43413',
 '44001',
 '44003',
 '44004',
 '44005',
 '44006',
 '44007',
 '44008',
 '44009',
 '44010',
 '44011',
 '44012',
 '44013',
 '44014',
 '44015',
 '44017',
 '44018',
 '44019',
 '44020',
 '44021',
 '44022',
 '44023',
 '44024',
 '44025',
 '44026',
 '44027',
 '44028',
 '44029',
 '44030',
 '44031',
 '44032',
 '44033',
 '44034',
 '44035',
 '44036',
 '44037',
 '44038',
 '44039',
 '44040',
 '44041',
 '44042',
 '44043',
 '44044',
 '44052',
 '44053',
 '44054',
 '44055',
 '44056',
 '44057',
 '44058',
 '44059',
 '44060',
 '44061',
 '44062',
 '44063',
 '44064',
 '44065',
 '44066',
 '44067',
 '44068',
 '44069',
 '44070',
 '44071',
 '44072',
 '44073',
 '44075',
 '44076',
 '44077',
 '44078',
 '44086',
 '44087',
 '44088',
 '44089',
 '44090',
 '44091',
 '44092',
 '44093',
 '44094',
 '44095',
 '44096',
 '44097',
 '44098',
 '44099',
 '44100',
 '44137',
 '44138',
 '44139',
 '44140',
 '44141',
 '44142',
 '44150',
 '44172',
 '44174',
 '44175',
 '44176',
 '44235',
 '44251',
 '44255',
 '44258',
 '44401',
 '44402',
 '44403',
 '44488',
 '44489',
 '44490',
 '44585',
 '44d03',
 '44t14',
 '45001',
 '45002',
 '45003',
 '45004',
 '45005',
 '45006',
 '45007',
 '45008',
 '45009',
 '45010',
 '45011',
 '45012',
 '45013',
 '45014',
 '45015',
 '45016',
 '45017',
 '45018',
 '45019',
 '45020',
 '45021',
 '45022',
 '45023',
 '45024',
 '45025',
 '45026',
 '45027',
 '45028',
 '45029',
 '45132',
 '45135',
 '45136',
 '45137',
 '45138',
 '45139',
 '45140',
 '45141',
 '45142',
 '45143',
 '45144',
 '45145',
 '45147',
 '45148',
 '45149',
 '45150',
 '45151',
 '45152',
 '45154',
 '45155',
 '45158',
 '45159',
 '45160',
 '45161',
 '45162',
 '45163',
 '45164',
 '45165',
 '45166',
 '45167',
 '45168',
 '45169',
 '45170',
 '45171',
 '45172',
 '45173',
 '45174',
 '45175',
 '45176',
 '45177',
 '45178',
 '45179',
 '45180',
 '45183',
 '45186',
 '45187',
 '45188',
 '45t01',
 '46001',
 '46002',
 '46003',
 '46004',
 '46005',
 '46006',
 '46007',
 '46008',
 '46009',
 '46010',
 '46011',
 '46012',
 '46013',
 '46014',
 '46015',
 '46016',
 '46017',
 '46019',
 '46022',
 '46023',
 '46024',
 '46025',
 '46026',
 '46027',
 '46028',
 '46029',
 '46030',
 '46031',
 '46035',
 '46036',
 '46037',
 '46040',
 '46041',
 '46042',
 '46044',
 '46045',
 '46047',
 '46048',
 '46050',
 '46051',
 '46053',
 '46054',
 '46059',
 '46060',
 '46061',
 '46062',
 '46063',
 '46066',
 '46069',
 '46070',
 '46071',
 '46072',
 '46073',
 '46075',
 '46076',
 '46077',
 '46078',
 '46079',
 '46080',
 '46081',
 '46082',
 '46083',
 '46084',
 '46085',
 '46086',
 '46087',
 '46088',
 '46089',
 '46090',
 '46091',
 '46092',
 '46093',
 '46094',
 '46096',
 '46097',
 '46098',
 '46099',
 '46100',
 '46105',
 '46106',
 '46107',
 '46108',
 '46109',
 '46110',
 '46111',
 '46112',
 '46113',
 '46114',
 '46115',
 '46116',
 '46117',
 '46118',
 '46119',
 '46120',
 '46121',
 '46122',
 '46123',
 '46124',
 '46125',
 '46126',
 '46127',
 '46128',
 '46131',
 '46132',
 '46134',
 '46138',
 '46139',
 '46145',
 '46146',
 '46147',
 '46181',
 '46183',
 '46184',
 '46185',
 '46204',
 '46205',
 '46206',
 '46207',
 '46208',
 '46211',
 '46212',
 '46213',
 '46214',
 '46215',
 '46216',
 '46217',
 '46218',
 '46219',
 '46220',
 '46221',
 '46222',
 '46223',
 '46224',
 '46225',
 '46226',
 '46227',
 '46228',
 '46229',
 '46230',
 '46231',
 '46232',
 '46233',
 '46234',
 '46235',
 '46236',
 '46237',
 '46238',
 '46239',
 '46240',
 '46241',
 '46242',
 '46243',
 '46244',
 '46245',
 '46246',
 '46247',
 '46248',
 '46249',
 '46250',
 '46251',
 '46252',
 '46253',
 '46254',
 '46255',
 '46256',
 '46257',
 '46258',
 '46259',
 '46260',
 '46261',
 '46262',
 '46263',
 '46264',
 '46265',
 '46266',
 '46267',
 '46268',
 '46269',
 '46270',
 '46290',
 '46303',
 '46304',
 '46401',
 '46402',
 '46403',
 '46404',
 '46405',
 '46406',
 '46407',
 '46408',
 '46409',
 '46410',
 '46411',
 '46412',
 '46413',
 '46414',
 '46415',
 '46416',
 '46419',
 '46451',
 '46452',
 '46490',
 '46518',
 '46531',
 '46534',
 '46538',
 '46551',
 '46553',
 '46565',
 '46779',
 '46780',
 '46781',
 '46782',
 '46785',
 '46b35',
 '46flo',
 '46t29',
 '48011',
 '48012',
 '48021',
 '48114',
 '48211',
 '48212',
 '48213',
 '48214',
 '48215',
 '48216',
 '48400',
 '48677',
 '48678',
 '48679',
 '48680',
 '51000',
 '51001',
 '51002',
 '51003',
 '51004',
 '51005',
 '51026',
 '51027',
 '51028',
 '51045',
 '51046',
 '51100',
 '51101',
 '511x1',
 '51200',
 '51201',
 '51202',
 '51203',
 '51204',
 '51205',
 '51206',
 '51207',
 '51208',
 '51209',
 '51210',
 '51211',
 '51212',
 '51213',
 '51406',
 '51407',
 '51425',
 '51426',
 '51542',
 '51d26',
 '51wh0',
 '52009',
 '52200',
 '52201',
 '52202',
 '52211',
 '52212',
 '52401',
 '52402',
 '52403',
 '52404',
 '52405',
 '52406',
 '52834',
 '52837',
 '52838',
 '52839',
 '52840',
 '52841',
 '52842',
 '52843',
 '52849',
 '52858',
 '52862',
 '52901',
 '53005',
 '53006',
 '53009',
 '53040',
 '53056',
 '53057',
 '53401',
 '54401',
 '54d01',
 '55013',
 '55015',
 '55039',
 '55042',
 '55401',
 '56001',
 '56003',
 '56053',
 '56055',
 '61001',
 '61002',
 '62001',
 '62027',
 '62028',
 '62029',
 '62030',
 '62050',
 '62052',
 '62081',
 '62090',
 '62091',
 '62092',
 '62093',
 '62094',
 '62095',
 '62105',
 '62108',
 '62114',
 '62121',
 '62124',
 '62125',
 '62126',
 '62127',
 '62130',
 '62135',
 '62142',
 '62144',
 '62145',
 '62146',
 '62147',
 '62148',
 '62149',
 '62150',
 '62163',
 '62164',
 '62165',
 '62166',
 '62298',
 '62301',
 '62303',
 '62442',
 '63105',
 '63110',
 '63112',
 '63113',
 '63115',
 '63117',
 '64045',
 '64046',
 '91204',
 '91222',
 '91251',
 '91328',
 '91338',
 '91343',
 '91352',
 '91355',
 '91356',
 '91365',
 '91374',
 '91377',
 '91411',
 '91442',
 '97001',
 'aban6',
 'acfs1',
 'acmn4',
 'acqs1',
 'acxs1',
 'agmw3',
 'ajxa2',
 'alrf1',
 'alsn6',
 'amaa2',
 'amps1',
 'amps2',
 'amps3',
 'amps4',
 'ancf1',
 'anmf1',
 'anmn6',
 'anrn6',
 'apnm4',
 'apqf1',
 'apxa2',
 'apxf1',
 'arpf1',
 'auga2',
 'avan4',
 'barn6',
 'bdvf1',
 'bdxc1',
 'bgcf1',
 'bgxn3',
 'bhri3',
 'bigm4',
 'bilw3',
 'bkyf1',
 'blia2',
 'blta2',
 'bnkf1',
 'bobf1',
 'bphf1',
 'brbn4',
 'brim2',
 'bsbm4',
 'bsca1',
 'bskf1',
 'bslm2',
 'burl1',
 'busl1',
 'buzm3',
 'bvqw1',
 'bwsf1',
 'c58w3',
 'camf1',
 'canf1',
 'caro3',
 'cbim2',
 'cblo1',
 'cbrw3',
 'cdea2',
 'cdrf1',
 'cdxa2',
 'cgcl1',
 'chds1',
 'chii2',
 'chlv2',
 'chno3',
 'chqo3',
 'clbf1',
 'clkn7',
 'cllt2',
 'clsm4',
 'cmln3',
 'cmpo1',
 'cnbf1',
 'cnii2',
 'cpxc1',
 'cquc1',
 'crga2',
 'crta1',
 'csbf1',
 'cspa2',
 'cvqv2',
 'cwaf1',
 'cwci',
 'cwqo3',
 'cwqt2',
 'cwsec',
 'cwssj',
 'cygm4',
 'darth',
 'darti',
 'dartj',
 'dartk',
 'dartl',
 'dartm',
 'dartn',
 'darto',
 'dartp',
 'dartq',
 'dartr',
 'darts',
 'dartt',
 'dartu',
 'dbln6',
 'dbqs1',
 'demo2',
 'deqd1',
 'desw1',
 'disw3',
 'dkkf1',
 'dmbc1',
 'dmno3',
 'dpha1',
 'dpia1',
 'drfa2',
 'drsd1',
 'dryf1',
 'dsln7',
 'ducn7',
 'eazc1',
 'eb01',
 'eb10',
 'eb31',
 'eb32',
 'eb33',
 'eb35',
 'eb36',
 'eb43',
 'eb52',
 ...]

In [51]:
[station for station in allstations.index if ('buoy' in str(station[' TTYPE ']).lower()) or ('platform' in str(station[' TTYPE ']).lower()) or ('station' in str(station[' TTYPE ']).lower()) or 
 ('tower' in str(station[' TTYPE ']).lower()) or ('Water Level Observation Network' in str(station[' TTYPE ']).lower())]

TypeError: string indices must be integers

In [66]:
allstations.loc['00922'][' TTYPE ']

'Slocum Glider'

In [71]:
[station for station in allstations.index[1:] if 'buoy' in str(allstations.loc[station][' TTYPE '])]

['21413',
 '21414',
 '21415',
 '21416',
 '21417',
 '21418',
 '21419',
 '21420',
 '21d13',
 '32012',
 '32066',
 '32067',
 '32068',
 '32069',
 '32301',
 '32302',
 '32401',
 '32402',
 '32411',
 '32412',
 '32413',
 '32489',
 '32d12',
 '41001',
 '41002',
 '41003',
 '41004',
 '41005',
 '41006',
 '41007',
 '41008',
 '41009',
 '41010',
 '41011',
 '41012',
 '41013',
 '41015',
 '41016',
 '41017',
 '41018',
 '41021',
 '41022',
 '41023',
 '41025',
 '41035',
 '41036',
 '41040',
 '41041',
 '41043',
 '41044',
 '41046',
 '41047',
 '41048',
 '41049',
 '41060',
 '41061',
 '41420',
 '41421',
 '41424',
 '41425',
 '41a46',
 '41b41',
 '41d20',
 '41d21',
 '41s43',
 '41s46',
 '41x01',
 '41x24',
 '42001',
 '42002',
 '42003',
 '42004',
 '42005',
 '42006',
 '42007',
 '42009',
 '42012',
 '42015',
 '42016',
 '42017',
 '42018',
 '42019',
 '42020',
 '42025',
 '42035',
 '42036',
 '42037',
 '42038',
 '42039',
 '42040',
 '42041',
 '42042',
 '42053',
 '42054',
 '42055',
 '42056',
 '42057',
 '42058',
 '42059',
 '42060',
 '42065',
 '42067',
 '42080',
 '42088',
 '42369',
 '42407',
 '42408',
 '42409',
 '42x60',
 '43010',
 '43412',
 '43413',
 '44001',
 '44003',
 '44004',
 '44005',
 '44006',
 '44007',
 '44008',
 '44009',
 '44010',
 '44011',
 '44013',
 '44014',
 '44015',
 '44017',
 '44018',
 '44019',
 '44020',
 '44023',
 '44025',
 '44026',
 '44027',
 '44031',
 '44035',
 '44036',
 '44038',
 '44060',
 '44065',
 '44066',
 '44070',
 '44071',
 '44137',
 '44138',
 '44139',
 '44140',
 '44141',
 '44142',
 '44150',
 '44251',
 '44255',
 '44258',
 '44401',
 '44402',
 '44403',
 '44488',
 '44489',
 '44490',
 '44d03',
 '44t14',
 '45001',
 '45002',
 '45003',
 '45004',
 '45005',
 '45006',
 '45007',
 '45008',
 '45009',
 '45010',
 '45011',
 '45012',
 '45132',
 '45135',
 '45138',
 '45139',
 '45141',
 '45142',
 '45143',
 '45155',
 '45159',
 '45160',
 '45t01',
 '46001',
 '46002',
 '46003',
 '46004',
 '46005',
 '46006',
 '46007',
 '46008',
 '46009',
 '46011',
 '46012',
 '46013',
 '46014',
 '46015',
 '46022',
 '46023',
 '46024',
 '46025',
 '46026',
 '46027',
 '46028',
 '46029',
 '46030',
 '46035',
 '46036',
 '46037',
 '46040',
 '46041',
 '46042',
 '46044',
 '46045',
 '46047',
 '46048',
 '46050',
 '46051',
 '46053',
 '46054',
 '46059',
 '46060',
 '46061',
 '46062',
 '46063',
 '46066',
 '46069',
 '46070',
 '46071',
 '46072',
 '46073',
 '46075',
 '46076',
 '46077',
 '46078',
 '46079',
 '46080',
 '46081',
 '46082',
 '46083',
 '46084',
 '46085',
 '46086',
 '46087',
 '46088',
 '46089',
 '46105',
 '46106',
 '46107',
 '46115',
 '46131',
 '46132',
 '46134',
 '46145',
 '46146',
 '46147',
 '46181',
 '46183',
 '46184',
 '46185',
 '46204',
 '46205',
 '46206',
 '46207',
 '46208',
 '46270',
 '46290',
 '46303',
 '46304',
 '46401',
 '46402',
 '46403',
 '46404',
 '46405',
 '46406',
 '46407',
 '46408',
 '46409',
 '46410',
 '46411',
 '46412',
 '46413',
 '46414',
 '46415',
 '46416',
 '46419',
 '46b35',
 '46flo',
 '46t29',
 '48011',
 '51000',
 '51001',
 '51002',
 '51003',
 '51004',
 '51005',
 '51026',
 '51027',
 '51028',
 '51100',
 '51101',
 '511x1',
 '51406',
 '51407',
 '51425',
 '51426',
 '51d26',
 '52009',
 '52401',
 '52402',
 '52403',
 '52404',
 '52405',
 '52406',
 '53401',
 '54401',
 '54d01',
 '55013',
 '55401',
 '62090',
 '62091',
 '62092',
 '62093',
 '62094',
 '62095',
 'amps2',
 'darth',
 'darti',
 'dartj',
 'dartk',
 'dartl',
 'dartm',
 'dartn',
 'darto',
 'dartp',
 'dartq',
 'dartr',
 'darts',
 'dartt',
 'dartu',
 'eb01',
 'eb10',
 'eb31',
 'eb32',
 'eb33',
 'eb35',
 'eb43',
 'eb70',
 'eb90',
 'whoi2']

In [44]:
[allstations.loc[station.lower(),' TTYPE '] for station in df.station if station.lower() in allstations.index.values]

['Atlas Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Buoy',
 'Buoy',
 'Buoy',
 'Buoy',
 'Buoy',
 'Buoy',
 'Buoy',
 'Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Ocean Reference Station',
 '3-meter discus buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 'Moored Buoy',
 'Moored Buoy',
 'Moored Buoy',
 'Moored Buoy',
 'Moored Buoy',
 '3-meter foam buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter foam buoy',
 '3-meter discus buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Atlas Buoy',
 'Waverider Buoy',
 'Ocean Reference Station',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 'Offshore Buoy',
 '2.1-meter ionomer foam buoy',
 'Offshore Buoy',
 'Offshore Buoy',
 'Offshore Buoy',
 '3-meter discus buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 '3-meter discus buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Buoy',
 'Fixed Drilling Platform',
 'Fixed Drilling Platform',
 'Fixed Drilling Platform',
 'Fixed Drilling Platform',
 'Fixed Drilling Platform',
 'Buoy',
 '3-meter discus buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 '3-meter discus buoy',
 '2.1-meter ionomer foam buoy',
 '2.1-meter ionomer foam buoy',
 '3-meter foam buoy',
 '3-meter discus buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 'Moored Buoy',
 'Moored Buoy',
 'Waverider Buoy',
 'Moored Buoy',
 '3-meter foam buoy',
 'Moored Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 '6-meter NOMAD buoy',
 '6-meter NOMAD buoy',
 '6-meter NOMAD buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy w/ seal cage',
 '6-meter NOMAD buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 '3-meter foam buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter foam buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter foam buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter foam buoy w/ seal cage',
 '2.1-meter ionomer foam buoy w/ seal cage',
 '3-meter discus buoy',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter foam buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter foam buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy',
 '3-meter foam buoy',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter foam buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy w/ seal cage',
 '3-meter discus buoy',
 '3-meter foam buoy w/ seal cage',
 '3-meter discus buoy',
 'Buoy',
 'Buoy',
 'Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '6-meter NOMAD buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 '3-meter discus buoy',
 '3-meter discus buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 '3-meter foam buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Moored Buoy',
 'Waverider Buoy',
 'Waverider Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Atlas Buoy',
 'Buoy',
 'Lightship',
 'Lightship',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Buoy',
 'Oil Platform',
 'Oil Platform',
 'Lightship',
 'Lightship',
 'Buoy',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Buoy',
 'Buoy',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Shorebased Tower',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Shorebased Tower',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Quality Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'C-MAN Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Weather Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Weather Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Shorebased Tower',
 'Water Level Observation Network',
 'C-MAN Station',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Coastal Marine Station',
 'Water Quality Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Weather Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Weather Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'C-MAN Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'C-MAN Station',
 'Shorebased Tower',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Quality Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Weather Station',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Weather Station',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'C-MAN Station',
 'C-MAN Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Fixed Structure Weather Station',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Fixed Structure Weather Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Quality Station',
 'C-MAN Station',
 'Fixed Structure Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Oil Platform',
 'Oil Platform',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Oil Platform',
 'C-MAN Station',
 'Water Level Observation Network',
 'Oil Platform',
 'Weather Station',
 'Oil Platform',
 'Oil Platform',
 'Water Level Observation Network',
 'Oil Platform',
 'Oil Platform',
 'C-MAN Station',
 'Weather Station',
 'Weather Station',
 'Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Oil Platform',
 'C-MAN Station',
 'Oil Platform',
 'Oil Platform',
 'Oil Platform',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Level Observation Network',
 'Weather Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Quality Station',
 'C-MAN Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Oil Platform',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Quality Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Shorebased Tower',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Coastal Marine Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Quality Station',
 'C-MAN Station',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Coastal Marine Station',
 'C-MAN Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Fixed Structure Weather Station',
 'Water Level Observation Network',
 'Fixed Structure Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Quality Station',
 'C-MAN Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Fixed Structure Weather Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Weather Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Fixed Structure Weather Station',
 'Water Level Observation Network',
 'Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Shorebased Tower',
 'C-MAN Station',
 'Weather Station',
 'Weather Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'C-MAN Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Coastal Marine Station',
 'Water Quality Station',
 'Waverider Buoy',
 'C-MAN Station',
 'C-MAN Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'GLOS Weather Station',
 'C-MAN Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Buoy',
 'C-MAN Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Coastal Marine Station',
 'Fixed Structure Weather Station',
 'NERRS Weather Station',
 'Water Level Observation Network',
 nan,
 'Water Level Observation Network',
 'Water Quality Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 nan,
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 nan,
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Weather Station',
 'NERRS Weather Station',
 'Water Level Observation Network',
 'NERRS Weather Station',
 'GLOS Weather Station',
 'GLOS Weather Station',
 'Water Quality Station',
 'Water Level Observation Network',
 'Water Level Observation Network',
 'Water Quality Station',
 'C-MAN Station',
 'Water Level Observation Network',
 'Water Quality Station',
 'C-MAN Station',
 'Water Quality Station',

In [40]:
[station.lower() in allstations.index.values for station in df.station].count(True)

738

In [25]:
allstations['# STATION_ID '].values

array(['#', '00922', '00923', ..., 'yktv2', 'yrsv2', 'zbqn7'],
      dtype=object)

In [32]:
df.station

0      13001
1      13002
2      13008
3      14040
4      14041
       ...
733    WWEF1
734    WYCM6
735    YATA2
736    YKRV2
737    YKTV2
Name: station, Length: 738, dtype: object

### Axiom NDBC station

In [213]:
url2 = 'https://oikos.axds.co/rest/sensor/stations/by/agent/18'
ds2 = pd.read_json(url2)
ds2.set_index('id', inplace=True)
ds2.sourceLabel = [label.lower() for label in ds2.sourceLabel.values]
ds2

,label,platformTypeId,sourceLabel,sourceUrl,isactive,submitToNdbc,addToThredds,wmoId,source,owner,otherAffiliations,lat,lon,elevation,active,visible
id,,,,,,,,,,,,,,,,
49357,"46247 - San Francisco Offshore, CA (180)",10,46247,https://www.ndbc.noaa.gov/station_page.php?sta...,False,False,False,None,"{'id': 51, 'label': 'NetCDF', 'type': 'source'}","{'id': 18, 'label': 'NOAA National Data Buoy C...",[],37.752617,-122.833130,0,False,False
41916,"SHPF1 - SHP - Shell Point, FL",6,shpf1,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,SHPF1,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 144, 'label': 'USF CMS - Coastal Ocean ...","[{'id': 18, 'label': 'NOAA National Data Buoy ...",30.058000,-84.290000,0,True,True
41922,SSBN7 - Sunset Beach Nearshore Waves,6,ssbn7,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,SSBN7,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 154, 'label': 'UNCW - Coastal Ocean Res...","[{'id': 234, 'label': 'Southeast Coastal Ocean...",33.830000,-78.480000,0,True,True
57366,KATP - Green Canyon 787 / Atlantis (BP),6,katp,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,KATP,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 18, 'label': 'NOAA National Data Buoy C...","[{'id': 2009, 'label': 'World Meteorological O...",27.195000,-90.027000,0,True,True
15683,"PILA2 - Pilot Rock, AK",10,pila2,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,PILA2,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 18, 'label': 'NOAA National Data Buoy C...","[{'id': 2009, 'label': 'World Meteorological O...",59.742000,-149.470000,24,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58090,T2N155W (51021),6,t2n155w,http://tao.ndbc.noaa.gov/refreshed/site.php?si...,True,False,False,51021,"{'id': 87, 'label': 'Ocean SITES', 'type': 'so...","{'id': 149, 'label': 'OceanSITES', 'type': 'Ow...","[{'id': 18, 'label': 'NOAA National Data Buoy ...",6.639700,-146.119995,0,True,True
57574,T0N110W (32323),6,t0n110w,http://tao.ndbc.noaa.gov/refreshed/site.php?si...,True,False,False,32323,"{'id': 87, 'label': 'Ocean SITES', 'type': 'so...","{'id': 149, 'label': 'OceanSITES', 'type': 'Ow...","[{'id': 2009, 'label': 'World Meteorological O...",0.046600,-109.917999,0,True,True
58106,T5N155W (51020),6,t5n155w,http://tao.ndbc.noaa.gov/refreshed/site.php?si...,True,False,False,51020,"{'id': 87, 'label': 'Ocean SITES', 'type': 'so...","{'id': 149, 'label': 'OceanSITES', 'type': 'Ow...","[{'id': 2009, 'label': 'World Meteorological O...",4.966200,-154.947006,0,True,True
75575,"OCSM2 - Ocean City, MD",6,ocsm2,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,None,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 202, 'label': 'U.S. Army Corps of Engin...","[{'id': 18, 'label': 'NOAA National Data Buoy ...",38.338000,-75.070000,0,True,True
75577,"Chester Shoal, FL (228)",6,41118,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,None,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 18, 'label': 'NOAA National Data Buoy C...","[{'id': 18, 'label': 'NOAA National Data Buoy ...",28.609000,-80.590000,0,True,True

In [215]:
len([station for station in df.station if (station.lower() in ds2.sourceLabel.values)])# or (station in str(ds2.index.values)) or (station in ds2.label.values)])

429

In [197]:
[station for station in stationlist if (station.lower() in ds2.sourceLabel.values) or (station.lower() in str(ds2.index.values))]

['21346',
 '21347',
 '21348',
 '21413',
 '21414',
 '21415',
 '21416',
 '21418',
 '21419',
 '21595',
 '21597',
 '21598',
 '21637',
 '23218',
 '23219',
 '23220',
 '23223',
 '23226',
 '23227',
 '23228',
 '23401',
 '32012',
 '32066',
 '32067',
 '32401',
 '32402',
 '32403',
 '32411',
 '32412',
 '32413',
 '32489',
 '34420',
 '41001',
 '41002',
 '41004',
 '41008',
 '41009',
 '41010',
 '41013',
 '41024',
 '41025',
 '41029',
 '41033',
 '41036',
 '41037',
 '41038',
 '41040',
 '41041',
 '41043',
 '41044',
 '41046',
 '41047',
 '41048',
 '41049',
 '41051',
 '41052',
 '41053',
 '41056',
 '41057',
 '41060',
 '41062',
 '41063',
 '41064',
 '41108',
 '41110',
 '41112',
 '41113',
 '41114',
 '41115',
 '41116',
 '41117',
 '41118',
 '41159',
 '41420',
 '41421',
 '41424',
 '42001',
 '42002',
 '42003',
 '42012',
 '42013',
 '42019',
 '42020',
 '42022',
 '42023',
 '42035',
 '42036',
 '42039',
 '42040',
 '42055',
 '42056',
 '42057',
 '42058',
 '42059',
 '42060',
 '42067',
 '42085',
 '42088',
 '42089',
 '42090',
 '42097',
 '42098',
 '42099',
 '42360',
 '42361',
 '42362',
 '42363',
 '42364',
 '42365',
 '42369',
 '42372',
 '42373',
 '42374',
 '42375',
 '42377',
 '42379',
 '42382',
 '42383',
 '42385',
 '42386',
 '42387',
 '42388',
 '42390',
 '42392',
 '42393',
 '42394',
 '42395',
 '42397',
 '42398',
 '42399',
 '42407',
 '42409',
 '42887',
 '43010',
 '43412',
 '43413',
 '44005',
 '44007',
 '44008',
 '44009',
 '44011',
 '44013',
 '44014',
 '44017',
 '44018',
 '44020',
 '44022',
 '44024',
 '44025',
 '44027',
 '44029',
 '44030',
 '44032',
 '44033',
 '44034',
 '44037',
 '44039',
 '44040',
 '44041',
 '44042',
 '44043',
 '44056',
 '44057',
 '44058',
 '44059',
 '44060',
 '44061',
 '44062',
 '44063',
 '44064',
 '44065',
 '44066',
 '44068',
 '44069',
 '44072',
 '44088',
 '44089',
 '44090',
 '44091',
 '44092',
 '44093',
 '44095',
 '44096',
 '44097',
 '44098',
 '44099',
 '44100',
 '44137',
 '44139',
 '44141',
 '44150',
 '44176',
 '44251',
 '44255',
 '44258',
 '44401',
 '44402',
 '45001',
 '45002',
 '45003',
 '45004',
 '45005',
 '45006',
 '45007',
 '45008',
 '45012',
 '45013',
 '45014',
 '45015',
 '45016',
 '45018',
 '45020',
 '45022',
 '45023',
 '45024',
 '45025',
 '45026',
 '45027',
 '45028',
 '45029',
 '45132',
 '45135',
 '45136',
 '45137',
 '45138',
 '45139',
 '45140',
 '45141',
 '45142',
 '45143',
 '45145',
 '45147',
 '45148',
 '45149',
 '45150',
 '45151',
 '45152',
 '45154',
 '45159',
 '45161',
 '45162',
 '45163',
 '45164',
 '45165',
 '45166',
 '45167',
 '45168',
 '45169',
 '45170',
 '45171',
 '45172',
 '45173',
 '45174',
 '45175',
 '45176',
 '45177',
 '45180',
 '46001',
 '46002',
 '46004',
 '46005',
 '46006',
 '46011',
 '46012',
 '46013',
 '46014',
 '46015',
 '46022',
 '46023',
 '46025',
 '46026',
 '46027',
 '46028',
 '46029',
 '46035',
 '46036',
 '46041',
 '46042',
 '46044',
 '46047',
 '46050',
 '46053',
 '46054',
 '46059',
 '46060',
 '46061',
 '46066',
 '46069',
 '46070',
 '46071',
 '46072',
 '46073',
 '46075',
 '46076',
 '46077',
 '46078',
 '46080',
 '46081',
 '46082',
 '46083',
 '46084',
 '46085',
 '46086',
 '46087',
 '46088',
 '46089',
 '46092',
 '46094',
 '46096',
 '46105',
 '46108',
 '46114',
 '46116',
 '46118',
 '46120',
 '46121',
 '46122',
 '46123',
 '46124',
 '46125',
 '46126',
 '46127',
 '46131',
 '46132',
 '46134',
 '46138',
 '46145',
 '46146',
 '46147',
 '46181',
 '46183',
 '46184',
 '46185',
 '46204',
 '46205',
 '46206',
 '46207',
 '46208',
 '46211',
 '46212',
 '46213',
 '46214',
 '46215',
 '46216',
 '46217',
 '46218',
 '46219',
 '46221',
 '46222',
 '46223',
 '46224',
 '46225',
 '46229',
 '46231',
 '46232',
 '46236',
 '46237',
 '46239',
 '46240',
 '46242',
 '46243',
 '46244',
 '46246',
 '46247',
 '46248',
 '46251',
 '46252',
 '46253',
 '46254',
 '46255',
 '46256',
 '46257',
 '46258',
 '46259',
 '46290',
 '46402',
 '46403',
 '46404',
 '46407',
 '46408',
 '46409',
 '46410',
 '46411',
 '46412',
 '46413',
 '46419',
 '46451',
 '46452',
 '48012',
 '48021',
 '48114',
 '48211',
 '48212',
 '48213',
 '48214',
 '48216',
 '51000',
 '51001',
 '51002',
 '51003',
 '51004',
 '51100',
 '51101',
 '51201',
 '51202',
 '51203',
 '51204',
 '51205',
 '51206',
 '51207',
 '51208',
 '51209',
 '51210',
 '51407',
 '51425',
 '51426',
 '52200',
 '52201',
 '52202',
 '52211',
 '52212',
 '52401',
 '52402',
 '52403',
 '52404',
 '52405',
 '52406',
 '54401',
 '55015',
 '55042',
 '56001',
 '56003',
 '61001',
 '62001',
 '62027',
 '62029',
 '62030',
 '62050',
 '62081',
 '62095',
 '62105',
 '62114',
 '62121',
 '62124',
 '62127',
 '62130',
 '62135',
 '62144',
 '62145',
 '62146',
 '62148',
 '62149',
 '62150',
 '62163',
 '62164',
 '62165',
 '62166',
 '62298',
 '62301',
 '62303',
 '62442',
 '63105',
 '63110',
 '63112',
 '63113',
 '63115',
 '63117',
 '64045',
 '64046',
 'ptac1']

In [217]:
len(set(stationlist) & set(list(ds2.sourceLabel.values)))

783

In [218]:
len(stationlist)

1385

In [149]:
len(ds2)

1001

What is a buoy that is present in Axiom list but not NDBC list?

In [219]:
notndbc = list(set(ds2.sourceLabel.values) - set(stationlist))
len(notndbc)

216

In [228]:
list(set(stationlist) - set(ds2.sourceLabel.values))

['62091',
 '42094',
 '53009',
 '45178',
 '53040',
 '32302',
 '45019',
 '52842',
 'caro3',
 '22107',
 '45183',
 '41005',
 '42037',
 '42010',
 '46245',
 '48677',
 'erxa2',
 '31003',
 '44142',
 'cdxa2',
 '41098',
 'gptw1',
 'nwst2',
 '42006',
 '46264',
 '46304',
 'shxa2',
 '42078',
 '22103',
 '91356',
 '31052',
 'lprp4',
 '22102',
 '42008',
 'jnga2',
 '46111',
 'lixa2',
 '42041',
 'dmno3',
 'dsln7',
 '21417',
 'amps3',
 '42024',
 '22106',
 '91222',
 '22104',
 'huqn6',
 'ildl1',
 'spag1',
 'eb31',
 'farp2',
 '46416',
 'darts',
 '41193',
 'mxxa2',
 '91352',
 '46016',
 '53401',
 '46037',
 '62052',
 'kcmb',
 'acmn4',
 '41021',
 'msg10',
 '44086',
 'fpxc1',
 'eb43',
 '48680',
 '42014',
 'eb92',
 '45017',
 '44076',
 '44488',
 'ehsc1',
 'mbnn7',
 '31007',
 'hssf1',
 '41933',
 '42391',
 '46269',
 '51212',
 '44490',
 '41027',
 '46250',
 'tibc1',
 'msg14',
 '46008',
 '44012',
 'svls1',
 'tdpc1',
 '44038',
 '42009',
 '44174',
 'dryf1',
 '23001',
 '46266',
 '46780',
 'hplm2',
 'gbcl1',
 '44026',
 'mbin7',
 '45188',
 '46249',
 'gbrm6',
 '41011',
 '21178',
 'hbxc1',
 '46flo',
 '15006',
 '51406',
 '41096',
 'nrep1',
 '42092',
 '46100',
 '46779',
 '44053',
 '46099',
 'alsn6',
 'owso1',
 '44d03',
 'kmyt',
 '44044',
 '46128',
 'dartl',
 'dartn',
 'wbya1',
 '13009',
 '41109',
 '46781',
 'prto3',
 'sm058',
 '45158',
 '41141',
 '46238',
 '44094',
 '23008',
 'gtqf1',
 'mvxa2',
 'vmsv2',
 '42015',
 '46227',
 '91355',
 '44172',
 '31005',
 'skmg1',
 '46270',
 '41012',
 '41194',
 '41061',
 '46531',
 '46139',
 '42376',
 'skqn6',
 'lciy2',
 '62142',
 '46220',
 '41904',
 'welm1',
 '44023',
 'scxa2',
 'aban6',
 '32488',
 '45179',
 'frkf1',
 '54d01',
 '42021',
 '42x60',
 '46518',
 '45186',
 'dmbc1',
 '46551',
 '41d21',
 'sipm6',
 '42025',
 '45144',
 '42534',
 '42381',
 'alrf1',
 '32069',
 '41119',
 '41023',
 '62094',
 'trbl1',
 'luml1',
 'gom01',
 '46017',
 '46785',
 'ancf1',
 '46093',
 '46107',
 'lmss1',
 '23014',
 '46112',
 '14040',
 '46097',
 'supn6',
 '52009',
 'spxa2',
 '44004',
 '42054',
 '42053',
 'myxc1',
 '31051',
 '62028',
 '42065',
 '62125',
 '42004',
 'anmf1',
 '44003',
 '31004',
 'nkxa2',
 '42401',
 'ocgn4',
 '91442',
 '21401',
 '46235',
 'dartt',
 '46565',
 'sjlf1',
 '48678',
 '46228',
 'csbf1',
 '41007',
 'ptrf1',
 'lnel1',
 '23020',
 '44071',
 'kmiu',
 '91251',
 '46090',
 'ajxa2',
 'dartk',
 '45010',
 'tcsv2',
 '97001',
 'mdkf1',
 '14043',
 '46415',
 '31002',
 '23006',
 '23225',
 '61002',
 'eb53',
 'bdxc1',
 '44175',
 'ndbc1',
 '21640',
 '46t29',
 'fbps1',
 'cmln3',
 'paxa2',
 '15001',
 '42366',
 'slpl1',
 '46265',
 'msg12',
 '23009',
 'jbyf1',
 '42018',
 '42026',
 'eb36',
 '21636',
 '52834',
 'bphf1',
 '34002',
 'eb35',
 '44052',
 'erkc1',
 'bilw3',
 '91204',
 '46079',
 '52849',
 '48011',
 '46007',
 '41097',
 '44054',
 '56055',
 '41018',
 'wybs1',
 '42384',
 '41139',
 'lscm4',
 '46031',
 '44036',
 'snto3',
 '13002',
 'eb32',
 '22108',
 '31006',
 '23012',
 'wyss1',
 '23217',
 '31478',
 '42400',
 '52862',
 '42038',
 '46106',
 '42402',
 '44403',
 '15002',
 'eb01',
 '22105',
 '45011',
 '46303',
 '53006',
 '46406',
 'crga2',
 'thrf1',
 'tybg1',
 '21600',
 '51046',
 '44031',
 '23017',
 'kvnp',
 'snsn7',
 '46051',
 'taml1',
 '44489',
 '42368',
 'mnbf1',
 '51005',
 'smbs1',
 '46490',
 'tnso3',
 'cwsec',
 '52841',
 '42095',
 '52840',
 '51027',
 '32487',
 '42031',
 '41852',
 '44067',
 '44077',
 '23016',
 'glln6',
 'eb70',
 'demo2',
 'sgrn4',
 'gixa2',
 'cgcl1',
 '51211',
 'skxa2',
 'tpxa2',
 '48215',
 'owdo1',
 '46241',
 'gexa2',
 '46009',
 '44070',
 'loro1',
 '41140',
 'pgxa2',
 'jlxa2',
 'vbba3',
 '13010',
 '45021',
 '46226',
 '53057',
 '46782',
 '62108',
 '46262',
 '41x24',
 '23004',
 '44t14',
 '41035',
 '52901',
 '21707',
 '32068',
 'hbmn6',
 'dartj',
 'dartu',
 'fpst2',
 '52837',
 'srbv3',
 '44019',
 'gtbm4',
 'noqn7',
 '51026',
 'otnm4',
 'mwqt2',
 '42380',
 '42371',
 '44087',
 'egkf1',
 '91338',
 '31201',
 '46045',
 '51045',
 'thin6',
 '32d12',
 '46234',
 'lsio3',
 'cmpo1',
 '44075',
 '51542',
 '46534',
 'deqd1',
 '14041',
 'sxxa2',
 '41a46',
 'brbn4',
 '44078',
 '41670',
 '44140',
 'cllt2',
 '15319',
 'darth',
 '46113',
 '42367',
 '44010',
 'dartr',
 '41425',
 'twco1',
 '91365',
 '42016',
 '42370',
 'amps4',
 'clbf1',
 '62147',
 'wdyo3',
 'amps1',
 '28401',
 'tano3',
 'darti',
 'kexa2',
 '44015',
 '41030',
 'nlec1',
 'avan4',
 '23011',
 'busl1',
 '46261',
 '44001',
 'fgbl1',
 '55039',
 '44585',
 '46062',
 '3fus2',
 'whoi2',
 '31260',
 '41b41',
 'npxn6',
 '46019',
 'rtot2',
 '53056',
 'slmn2',
 '45160',
 '15007',
 'kstz',
 'eb33',
 '18cy3',
 'cquc1',
 '46263',
 '51213',
 'darto',
 '41554',
 '44021',
 'jcqn4',
 '42042',
 'eb91',
 '46414',
 '41100',
 '46267',
 'gbqn3',
 '45009',
 'lpoi1',
 'sloo3',
 '42408',
 'knoh1',
 '46b35',
 '62126',
 '44035',
 '31001',
 'eb90',
 '46030',
 '14047',
 '44055',
 'mqmt2',
 '62090',
 '52843',
 '42087',
 '46091',
 '48400',
 '56053',
 '41003',
 '41016',
 'gdiv2',
 '42017',
 'eb52',
 'mpcl1',
 'guxa2',
 'tkpn6',
 'cwssj',
 'fpsn7',
 '13001',
 '32301',
 '23010',
 'apxa2',
 '45187',
 '52858',
 '13008',
 '44073',
 '46260',
 '32745',
 '31053',
 '22101',
 '91374',
 'eb10',
 '62092',
 '41015',
 'lkpl1',
 '44138',
 'nlma3',
 '21420',
 '46024',
 'secg1',
 '42005',
 '42080',
 '41x01',
 '62093',
 '44235',
 '46115',
 'gdil1',
 '44006',
 '46405',
 '41101',
 '91377',
 '46538',
 '55401',
 'glpt2',
 'sbbn2',
 '23007',
 '511x1',
 '46117',
 '46230',
 '41026',
 '91328',
 'nbba3',
 '46268',
 '32404',
 '31261',
 '46233',
 '91411',
 '45155',
 'ducn7',
 'haxa2',
 'gbhm6',
 '44028',
 'rixa2',
 '23003',
 '52838',
 '52839',
 '42430',
 'stxa2',
 '42093',
 'npqn6',
 'kopm',
 '41022',
 '48679',
 'kcrh',
 '42396',
 '51028',
 'sixa2',
 '46003',
 '46401',
 '46119',
 '46063',
 '32746',
 'gblw3',
 '46098',
 '42011',
 '53005',
 '41d20',
 'cbim2',
 'eazc1',
 'dartm',
 '46553',
 '46048',
 '51200',
 '21d13',
 '42079',
 '46040',
 '51d26',
 '41058',
 'cwqt2',
 '41006',
 '91343',
 'mlto3',
 '23013',
 '42007',
 '41017',
 '23015',
 'zbqn7',
 '46010',
 'slxa2',
 'eb62',
 '55013',
 '46109',
 'amps2',
 '45t01',
 '46110']

In [227]:
ds2[ds2['sourceLabel'] == notndbc[-50]][['owner','sourceUrl']].values#['sourceUrl'].values

array([[{'id': 205, 'label': 'Amerada Hess Corporation', 'type': 'Owner'},
        'https://www.ndbc.noaa.gov/station_page.php?station=42919']],
      dtype=object)

In [192]:
ds2[ds2['sourceLabel'] == notndbc]

,label,platformTypeId,sourceLabel,sourceUrl,isactive,submitToNdbc,addToThredds,wmoId,source,owner,otherAffiliations,lat,lon,elevation,active,visible
id,,,,,,,,,,,,,,,,
13782,"AUGA2 - Augustine Island, AK",10,AUGA2,https://www.ndbc.noaa.gov/station_page.php?sta...,True,False,False,AUGA2,"{'id': 18, 'label': 'National Data Buoy Center...","{'id': 18, 'label': 'NOAA National Data Buoy C...","[{'id': 18, 'label': 'NOAA National Data Buoy ...",59.378,-153.348,0,True,True

In [193]:
NDBC.buoy_data_types('AUGA2')

{}

## Axiom CO-OPS stations

In [72]:
url1 = 'https://oikos.axds.co/rest/sensors/stations/by/agent/9'
url2 = 'https://oikos.axds.co/rest/sensor/stations/by/agent/9'

In [95]:
ds1 = pd.read_json(url1)
ds1

,id,label,slug,lat,lon,z,platformType,visible,publicNotice,hasNarrative,stationAgents,datasetId
0,52539,El Capitan Passage,noaa_nos_co_ops_9450997,56.163300,-133.330000,0.00,fixed,True,None,False,"[{'id': 252, 'associationType': 'publisher', '...",noaa_nos_co_ops_9450997
1,15253,"Red Bluff Bay, Baranof Island",noaa_nos_co_ops_9451467,56.856700,-134.723000,0.00,fixed,True,None,False,"[{'id': 258, 'associationType': 'owner', 'fore...",noaa_nos_co_ops_9451467
2,15629,Perry Island (South Bay),noaa_nos_co_ops_9454721,60.671700,-147.932000,0.00,fixed,True,None,False,"[{'id': 272, 'associationType': 'owner', 'fore...",noaa_nos_co_ops_9454721
3,45388,"Beck Island, Clarence Strait",noaa_nos_co_ops_9450906,56.046700,-132.862000,0.00,fixed,True,None,False,"[{'id': 250, 'associationType': 'owner', 'fore...",noaa_nos_co_ops_9450906
4,13822,"KDAA2 - 9457292- Kodiak Island, AK",noaa_nos_co_ops_kdaa2,57.730000,-152.514000,0.00,fixed,True,None,False,"[{'id': 942, 'associationType': 'affiliate', '...",noaa_nos_co_ops_kdaa2
...,...,...,...,...,...,...,...,...,...,...,...,...
335,105538,"Aguchik Island, AK, Tide Station (9456901)",aguchik-island-ak-tide-station-9,58.294639,-154.265611,0.00,fixed,True,None,True,"[{'id': 13284, 'associationType': 'publisher',...",aguchik-island-ak-tide-station-9
336,100007,"Chinitna Bay, AK, Tide Station (9456357) [Prel...",chinitna-bay-ak-tide-station-,59.842095,-152.992627,-16.36,fixed,False,,True,"[{'id': 34, 'associationType': 'owner', 'forei...",chinitna-bay-ak-tide-station-
337,100008,"Coal Point, Homer, AK, Tide Station (9455558)",coal-point-homer-ak-tide-stat,59.602639,-151.410306,-17.00,fixed,True,,True,"[{'id': 13094, 'associationType': 'sponsor', '...",coal-point-homer-ak-tide-stat
338,103695,"Gadsden Cut, Tampa Bay",gadsden-cut-tampa-bay,27.773528,-82.516861,0.00,fixed,True,None,False,"[{'id': 8217, 'associationType': 'owner', 'for...",gadsden-cut-tampa-bay
339,103696,Middle Tampa Bay,middle-tampa-bay,27.661667,-82.599444,0.00,fixed,True,None,False,"[{'id': 8218, 'associationType': 'publisher', ...",middle-tampa-bay

Which active NDBC stations are found in url2?

In [97]:
ds2 = pd.read_json(url2)
ds2

,id,label,platformTypeId,sourceLabel,sourceUrl,isactive,submitToNdbc,addToThredds,wmoId,source,owner,otherAffiliations,lat,lon,elevation,active,visible
0,46477,"Dahlgren, Upper Machodoc Creek, Va.",10,8635027,https://tidesandcurrents.noaa.gov/noaatidepred...,False,False,False,None,"{'id': 9, 'label': 'Center for Operational Oce...","{'id': 9, 'label': 'NOAA Center for Operationa...","[{'id': 236, 'label': 'Mid-Atlantic Coastal Oc...",38.3200,-77.0367,0,False,True
1,15298,"Muir Inlet, Glacier Bay",10,9452584,https://tidesandcurrents.noaa.gov/noaatidepred...,False,False,False,None,"{'id': 9, 'label': 'Center for Operational Oce...","{'id': 9, 'label': 'NOAA Center for Operationa...",[],58.9133,-136.1080,0,False,False
2,15656,"AKUTAN, ALASKA",10,9462694,https://tidesandcurrents.noaa.gov/noaatidepred...,False,False,False,None,"{'id': 9, 'label': 'Center for Operational Oce...","{'id': 9, 'label': 'NOAA Center for Operationa...",[],54.1333,-165.7773,0,False,False
3,52545,"TEXAS POINT, SABINE PASS (TCOON)",10,8770822,https://tidesandcurrents.noaa.gov/noaatidepred...,False,False,False,None,"{'id': 9, 'label': 'Center for Operational Oce...","{'id': 9, 'label': 'NOAA Center for Operationa...",[],29.6893,-93.8418,0,False,True
4,46191,BRANDYWINE SHOAL LIGHT,10,8555889,https://tidesandcurrents.noaa.gov/noaatidepred...,False,False,False,None,"{'id': 9, 'label': 'Center for Operational Oce...","{'id': 9, 'label': 'NOAA Center for Operationa...","[{'id': 236, 'label': 'Mid-Atlantic Coastal Oc...",38.9867,-75.1133,0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3339,47827,Queen Isabella Causeway,10,8779724,https://tidesandcurrents.noaa.gov/noaatidepred...,True,False,False,None,"{'id': 9, 'label': 'Center for Operational Oce...","{'id': 9, 'label': 'NOAA Center for Operationa...",[],26.0783,-97.1700,0,True,True
3340,47584,"Hungry Harbor, Wash.",10,9440563,https://tidesandcurrents.noaa.gov/noaatidepred...,True,False,False,None,"{'id': 9, 'label': 'Center for Operational Oce...","{'id': 9, 'label': 'NOAA Center for Operationa...",[],46.2583,-123.8480,0,True,True
3341,47835,Ifalik Atoll,10,TPT2647,https://tidesandcurrents.noaa.gov/noaatidepred...,True,False,False,None,"{'id': 9, 'label': 'Center for Operational Oce...","{'id': 9, 'label': 'NOAA Center for Operationa...",[],7.2500,144.4500,0,True,True
3342,46181,"Stone Harbor, Great Channel",10,8535581,https://tidesandcurrents.noaa.gov/noaatidepred...,True,False,False,None,"{'id': 9, 'label': 'Center for Operational Oce...","{'id': 9, 'label': 'NOAA Center for Operationa...",[],39.0567,-74.7650,0,True,True
3343,46928,Piney Point,10,8720333,https://tidesandcurrents.noaa.gov/noaatidepred...,True,False,False,None,"{'id': 9, 'label': 'Center for Operational Oce...","{'id': 9, 'label': 'NOAA Center for Operationa...",[],30.2283,-81.6633,0,True,True

In [115]:
len([station for station in df.station if (station in ds2.sourceLabel.values) or (station in str(ds2.id.values))])

50

In [113]:
ds2.id.values

array([46477, 15298, 15656, ..., 47835, 46181, 46928])

In [109]:
[label for label in ds2.sourceLabel if label in df.station.values]

['SKTA2',
 'OVIA2',
 'CECC1',
 'LJAC1',
 'OHBC1',
 'PRDA2',
 'MGZP4',
 'VDZA2',
 'NMTA2',
 'SDBC1',
 'MHRN6',
 'ITKA2',
 'SWLA2',
 'ALIA2',
 'KECA2',
 'FREL1',
 'PRUR1',
 'PORO3',
 'CHAO3',
 'PFXC1',
 'RDDA2',
 'SNDA2',
 'NKTA2',
 'KGCA2',
 'PRJC1',
 'YATA2',
 'ELFA2',
 'RTYC1',
 'NTBC1',
 'UPBC1',
 'PCOC1',
 'OMHC1',
 'PRYC1',
 'SBEO3',
 'ANTA2',
 'OLSA2',
 'FTPC1',
 'PSLC1',
 'RCMC1',
 'ANVC1',
 'ICAC1',
 'HBYC1',
 'AAMC1',
 'CPVM2',
 'UNLA2',
 'PLXA2',
 'ATKA2',
 'ADKA2',
 'KDAA2']

In [126]:
[station for station in stationlist if (station in ds2.sourceLabel.values) or (station in str(ds2.id.values))]

['46181']

In [134]:
list(ds2.sourceLabel.values)

['8635027',
 '9452584',
 '9462694',
 '8770822',
 '8555889',
 '8774230',
 'SKTA2',
 '9450997',
 '9458849',
 '8740166',
 'OVIA2',
 'CECC1',
 '9452611',
 '9457283',
 '9469439',
 '9455204',
 'LJAC1',
 '9451124',
 '9491873',
 '9451263',
 '9455869',
 '9459465',
 '9457724',
 '9452368',
 '9455711',
 '9491253',
 'OHBC1',
 'PRDA2',
 '9466477',
 '9454616',
 '9457376',
 '9456901',
 '9457634',
 '9466931',
 '9454751',
 '9451335',
 '9454721',
 '9457152',
 '9451467',
 '9454652',
 '9458819',
 '9462723',
 '9462782',
 '9454777',
 '9452022',
 '9454757',
 '9450906',
 '9455159',
 '9462719',
 '9455437',
 '9454662',
 '9454794',
 '9462662',
 '9456173',
 '9450913',
 '9450998',
 '9462787',
 '9466298',
 '9450296',
 '9462705',
 '9451936',
 '9451422',
 '9451434',
 '9451005',
 '9465261',
 '9453208',
 '9466153',
 '9459163',
 '9455145',
 '9458779',
 '9452336',
 '9454949',
 '9454825',
 '9469338',
 '9451853',
 '9462711',
 '9490424',
 '9451317',
 '9459758',
 '9454755',
 '9466057',
 '9469239',
 '9451906',
 '9450970',
 '9452632',
 '9455963',
 '9458365',
 '9450581',
 '9451805',
 '9469751',
 '9455912',
 '9459251',
 '9455606',
 '9450305',
 '9453210',
 '9452123',
 '9450973',
 '9450314',
 '9458964',
 '9451785',
 '9452294',
 '9458209',
 '9469237',
 '9457287',
 '9453456',
 '9462786',
 '9451909',
 '9456717',
 '9454674',
 '9454564',
 '9450578',
 '9454329',
 '9455595',
 '9465831',
 '9451346',
 '9452421',
 '9450625',
 '9452438',
 '9460150',
 '9454363',
 '9456992',
 '9462721',
 '9451152',
 '9455934',
 '9455128',
 '9451349',
 '9469854',
 '9455735',
 '9455517',
 '9455866',
 '9467551',
 '9451634',
 '9451247',
 '9455557',
 '9466217',
 '9457261',
 '9458519',
 '9450914',
 '9468333',
 '9451781',
 '9451287',
 '9466328',
 '9452082',
 '9455428',
 '9452346',
 '9451376',
 '9455151',
 '9454642',
 '9451706',
 '9451421',
 '9459016',
 '9450551',
 '9451528',
 '9458762',
 '9490571',
 '9450987',
 '9451037',
 '9457391',
 '9454814',
 '9452318',
 '9454511',
 '9451074',
 '9465396',
 '9454713',
 '9454673',
 '9452437',
 '9451204',
 '9462808',
 '9450711',
 '9452516',
 '9450938',
 '9458907',
 '9450544',
 '9458917',
 '9462645',
 '9452434',
 '9454561',
 '9452391',
 '9454562',
 '9468691',
 '9465374',
 '9455120',
 '9450815',
 '9450982',
 '9462955',
 '9465056',
 '9452249',
 '9468039',
 '9452682',
 '9454374',
 '9451625',
 '9457527',
 '9468258',
 '9455146',
 '9452005',
 '9465182',
 '9451438',
 '9450495',
 '9454691',
 '9465601',
 '9452067',
 'MGZP4',
 'VDZA2',
 'NMTA2',
 'SDBC1',
 'MHRN6',
 'ITKA2',
 'SWLA2',
 'ALIA2',
 'KECA2',
 'FREL1',
 'gl0301',
 'jx0601',
 'sn0101',
 'jx0101',
 'jx0701',
 'jx0501',
 'lc0201',
 'jx0301',
 'ps0201',
 'n03020',
 'lc0101',
 'cp0101',
 'jx0201',
 'lm0201',
 'jx0401',
 'PRUR1',
 'PORO3',
 'CHAO3',
 'PFXC1',
 'RDDA2',
 'SNDA2',
 'NKTA2',
 'KGCA2',
 'PRJC1',
 'YATA2',
 'ELFA2',
 'sn0301',
 'db0301',
 'db0501',
 '8546252',
 'RTYC1',
 'NTBC1',
 'UPBC1',
 '8773146',
 'PCOC1',
 'OMHC1',
 'PRYC1',
 '8773767',
 'SBEO3',
 'ANTA2',
 'OLSA2',
 'FTPC1',
 'PSLC1',
 'RCMC1',
 'ANVC1',
 'ICAC1',
 'MTYC1',
 'HBYC1',
 'AAMC1',
 '9752235',
 'nb0201',
 'cb1101',
 'sn0601',
 'gl0201',
 'CPVM2',
 'UNLA2',
 'PLXA2',
 'ATKA2',
 'ADKA2',
 '9415218',
 'KDAA2',
 'lm0101',
 'lc0301',
 'nl0101',
 'cb0102',
 'cb0201',
 'cb0301',
 'cb0402',
 'ps0301',
 'cb0601',
 'cb0801',
 'cb0901',
 'cb1001',
 'cb1301',
 'cb1201',
 't02010',
 'g08010',
 'gl0101',
 't01010',
 'sn0701',
 'g06010',
 '9494935',
 '8779280',
 '1631428',
 '8771013',
 '8513388',
 '8726761',
 '8418772',
 '8664131',
 '9462691',
 '8658579',
 '8760959',
 '8722366',
 'TEC4765',
 '8656451',
 '8669625',
 '9445016',
 '8720296',
 '8447865',
 '9414868',
 '9432845',
 '8763719',
 '9447883',
 '8638407',
 '8724229',
 '9456204',
 '9450271',
 '8667172',
 '8668511',
 '9435362',
 '8417647',
 '8510719',
 '9449679',
 '8668091',
 '9415252',
 '9462611',
 '8723921',
 '8724129',
 '8665424',
 '9415625',
 '8661593',
 '8724238',
 '1732417',
 '8667508',
 '9461292',
 'TEC4635',
 '8533071',
 '8546252',
 '9437331',
 '9452748',
 '8720196',
 '8672462',
 '9465342',
 '8663618',
 '8660121',
 'TPT2803',
 'TEC3403',
 '9414413',
 '8676808',
 '9434939',
 '8538548',
 '8533465',
 '9756639',
 'TEC4169',
 '8636046',
 '8722491',
 '8571559',
 '8531942',
 '8573349',
 '8653951',
 '9410152',
 '8723927',
 'TEC4271',
 '8533780',
 '9415320',
 '9440572',
 '8661989',
 'TEC4747',
 '8723862',
 '9410092',
 '9462239',
 'TPT2827',
 '8636969',
 '8722496',
 '8726924',
 '8571944',
 '8219894',
 '9462641',
 '8448208',
 '8667676',
 '8663535',
 'TEC4773',
 '8448566',
 '8571807',
 '8416968',
 '9411270',
 '8453033',
 '8218447',
 'TWC1979',
 '9445326',
 '8534287',
 '9446486',
 '8669531',
 'TWC0413',
 '9454125',
 '8722471',
 '8574459',
 '8665494',
 '8722832',
 'TPT2737',
 '8760551',
 '8722816',
 'TEC4207',
 'TWC0427',
 '8743735',
 'TWC2073',
 '8659086',
 'TPT2693',
 '8669103',
 '9462582',
 '8723872',
 '8663539',
 '9451741',
 '8419518',
 'TPT2819',
 '8652737',
 '8532703',
 '9414507',
 '8447385',
 '8454341',
 '8570280',
 '8636735',
 '8444775',
 '9455478',
 '8669493',
 '8656841',
 '8638401',
 'TEC4663',
 '8538921',
 '8724189',
 '8656306',
 '9452747',
 'TPT2885',
 '8536764',
 'TEC3531',
 'TWC1739',
 '8724417',
 '8531526',
 '8727012',
 '8722862',
 '9462398',
 '8659182',
 '9445526',
 '1616696',
 '8417221',
 '9415565',
 '8418911',
 '9414866',
 '9414874',
 '8542699',
 '8725744',
 'TPT2709',
 'TWC1869',
 '8638654',
 '8636458',
 '8446121',
 '8724313',
 'TEC4665',
 '8659665',
 '8638379',
 '8419590',
 '9461132',
 '8444012',
 '8677576',
 '8760595',
 '8537079',
 'TWC0895',
 '8659897',
 'TEC4707',
 'TWC1989',
 '9414513',
 '8516661',
 '9414785',
 '8578551',
 '8574070',
 '9459464',
 '8676722',
 '8724196',
 '8630440',
 '9413623',
 'TWC0771',
 '8726278',
 '8678642',
 '9414782',
 '8668701',
 'TPT2625',
 '8551851',
 '9414551',
 '8412568',
 '8664611',
 '8413801',
 '8453465',
 '8531592',
 'TWC0817',
 '9451859',
 '8414112',
 '8665814',
 '8720225',
 '8724373',
 '8662071',
 '9446752',
 '8542885',
 '8440369',
 '8635299',
 'TPT2865',
 '8722951',
 '8449287',
 '8639219',
 'TEC3407',
 '9449712',
 '8723747',
 '8654400',
 '8531232',
 '8665728',
 '8573704',
 '8667425',
 '8575579',
 '8725235',
 '8514421',
 '8669277',
 '8656467',
 '8630111',
 '8765551',
 'TWC2297',
 '9452586',
 '9454764',
 '8724255',
 '8761826',
 '9461337',
 '8724527',
 '8725393',
 '9751373',
 '9452672',
 '8723851',
 '8664022',
 '8638854',
 '9432879',
 '8729197',
 '9454887',
 '8720833',
 '8571402',
 '8636654',
 '8724177',
 '8722859',
 '8720406',
 '8665192',
 '8638449',
 '8447505',
 '9437262',
 '8668155',
 '8575331',
 '8665637',
 '8726995',
 '8633604',
 'TPT2687',
 'TEC2771',
 'TEC4701',
 '8532337',
 '8652437',
 '8530505',
 '9445639',
 '8661947',
 '8658901',
 '8635671',
 'TEC4625',
 '1613198',
 '8667146',
 '8530531',
 '8727336',
 'TWC1863',
 '9461656',
 '9450399',
 '1617846',
 '8670424',
 '8532721',
 '9416409',
 '8665613',
 '9415111',
 '8661437',
 '8417271',
 '9452447',
 '8724293',
 '8530398',
 'TPT2711',
 '8666652',
 '8742221',
 '8728912',
 'TWC2309',
 '9449704',
 '8667272',
 '8665737',
 '9450988',
 'TPT2715',
 '8638888',
 '9465183',
 '8724499',
 '8667062',
 '9461081',
 '8445425',
 '9416174',
 'TPT2831',
 '9446628',
 '9432373',
 'TWC2023',
 '8728210',
 'TPT2621',
 '8633091',
 '8722968',
 '8720954',
 '8720767',
 '8455189',
 'TEC4645',
 'TEC2801',
 '8723165',
 '9456463',
 '8667076',
 '8532585',
 '8417367',
 '8722208',
 '8515228',
 '9751309',
 '8723999',
 'TWC2321',
 'TWC0439',
 '9459522',
 '8578693',
 '9457401',
 '8532371',
 '8417377',
 '8533345',
 'TWC0419',
 '8447368',
 '8722854',
 'TEC4731',
 '8638776',
 '9450142',
 '8744756',
 '8466664',
 'TPT2627',
 '8571979',
 '8450768',
 '8745557',
 '8728288',
 '8658715',
 '9459643',
 '8555388',
 '8652226',
 '8673962',
 '9417426',
 '8571359',
 'TWC0933',
 '9435385',
 '8630413',
 '8722654',
 '9751583',
 'TWC2115',
 '8665552',
 '8724099',
 '9447265',
 '8722381',
 'TEC2929',
 '8667201',
 '8414781',
 '9440573',
 '9441627',
 '9440662',
 '8720409',
 '9445719',
 '8463701',
 '9439054',
 '9447934',
 '9412802',
 '8724409',
 '8723050',
 '8516315',
 '9448918',
 '9449911',
 '9447110',
 '9462465',
 '8444525',
 '8538438',
 '9447905',
 '8534049',
 '8666283',
 '8632085',
 '8414672',
 '8723949',
 '9414262',
 'TEC2793',
 '8519436',
 '8536823',
 '8468799',
 '8722548',
 '8669575',
 '9415415',
 '9464096',
 '8442645',
 '8440273',
 '8534244',
 '8662237',
 '8573343',
 '1613155',
 'TWC2101',
 '8722207',
 '8673381',
 '8514733',
 '8517137',
 '8675779',
 '8572271',
 '8666433',
 '8722607',
 'TEC3447',
 '9751774',
 '8722383',
 '8571616',
 '8724153',
 '8663731',
 '8669167',
 '8537353',
 '8413564',
 'TWC0463',
 '8513825',
 '8677406',
 'TEC4633',
 '8577188',
 '8450954',
 '8530591',
 '8720093',
 '8536849',
 'TPT2719',
 '8448683',
 '8417911',
 '8575550',
 '8722982',
 '9414511',
 '8728360',
 '8662006',
 '9414836',
 '8571097',
 '9414317',
 'TWC2305',
 'TEC4777',
 '8667075',
 '8416028',
 '8664701',
 '8447939',
 '8553069',
 '8761677',
 '9414483',
 '9415053',
 '8516881',
 '9448614',
 '8579629',
 '8727843',
 'TEC4669',
 '8724274',
 '9450729',
 '8443662',
 '8417067',
 '8637472',
 '9440875',
 '8721994',
 '8638450',
 'TWC1659',
 '9415338',
 '8723423',
 '9415117',
 'TEC3409',
 'TEC2791',
 '9461945',
 '8516761',
 'TEC4759',
 'TPT2707',
 'TWC0573',
 '9445753',
 '9462838',
 '8722588',
 '8517921',
 '1840000',
 '8538601',
 '9452263',
 '8727333',
 '9451561',
 '9450244',
 '8423635',
 '8536780',
 '9459939',
 '8410875',
 '8679964',
 '8656554',
 '8451301',
 '8656566',
 '9434032',
 '9447855',
 '8724098',
 '9454798',
 '9450273',
 '8665567',
 '9459085',
 '8726217',
 '9495048',
 '8533051',
 '9755679',
 '9450283',
 '8724368',
 'TWC2119',
 '8441771',
 '1617277',
 '8447531',
 '8516745',
 '8630839',
 '8571858',
 '8465233',
 '8579381',
 '8538274',
 '8722274',
 '8537779',
 '8677833',
 '8659084',
 '8673171',
 '8630229',
 '8724459',
 'TWC0857',
 '8723178',
 '9454787',
 '8723155',
 '8723087',
 '8661608',
 '8665101',
 '8419528',
 '8534691',
 '8514779',
 '8537774',
 '8414692',
 '8722371',
 '8443187',
 '8674301',
 '9457271',
 '9413375',
 '8726657',
 '9446671',
 '8761899',
 'TWC1669',
 '8664945',
 '9418778',
 '8537488',
 '8459338',
 '8668077',
 '8660266',
 '8677344',
 '8729613',
 '8533141',
 '8725451',
 '8723506',
 '9414817',
 '9413878',
 '8418031',
 'TEC4659',
 '8722059',
 '8724033',
 '8722429',
 '8547333',
 '8637624',
 '9414506',
 '8630194',
 '8728548',
 '8515102',
 '9449292',
 '8414168',
 '8673499',
 '9415193',
 '8667309',
 '9410686',
 '8667982',
 '8218361',
 'TPT2823',
 '9440574',
 '8724239',
 'TPT2891',
 '8665763',
 '9445388',
 '9461391',
 '9462606',
 '9450421',
 '8726942',
 '9418802',
 '8668173',
 '9415205',
 '9446666',
 '8720143',
 '8572792',
 '9414402',
 '8542425',
 '8535726',
 '9446500',
 '8416804',
 '9440723',
 '8517847',
 'TEC3495',
 'TEC3421',
 '8633596',
 'TEC3061',
 '8417527',
 '9457259',
 '8725228',
 '8534883',
 '9418686',
 '8762675',
 'TWC1165',
 '8666166',
 '9465419',
 '8638339',
 '8660642',
 '9415021',
 '8518951',
 '8571214',
 '9440691',
 '8724964',
 '8638671',
 '8530884',
 '8638491',
 '8663381',
 'TPT2623',
 '9446369',
 '8673437',
 '9457351',
 '8416581',
 'TWC2303',
 '8726905',
 '8726706',
 '9455347',
 '8724264',
 '8668482',
 '8723571',
 '8722746',
 '8724257',
 '8447941',
 '8668498',
 '9465174',
 '8663261',
 '9443826',
 '9451802',
 '9451718',
 '8516055',
 'TPT2849',
 '8444162',
 '8765148',
 '8662746',
 '8679945',
 '8720051',
 '8726436',
 'TPT2729',
 '9452567',
 'TEC4445',
 '8723874',
 '8722939',
 '9415402',
 '8675843',
 '8725319',
 '8417874',
 '8416828',
 '9444972',
 '8416908',
 '9462367',
 '8723372',
 '9457773',
 '8453433',
 '8572204',
 '8764256',
 '8518974',
 '8724542',
 '9459949',
 '8416921',
 '8720832',
 '8729702',
 '8467373',
 '8630308',
 '8533535',
 '8666467',
 'TEC4623',
 '8536687',
 '8665641',
 'TEC4703',
 '8674962',
 'TEC3515',
 '8417127',
 '9448009',
 'TWC1697',
 '8722946',
 'TEC2841',
 '8533738',
 '8419688',
 '1612668',
 '8651605',
 '8638923',
 '8678412',
 '8516211',
 '9410650',
 '9457479',
 ...]

In [133]:
set(stationlist) & set(list(ds2.sourceLabel.values))

set()

In [139]:
list(ds2.id.values)

[46477,
 15298,
 15656,
 52545,
 46191,
 52549,
 13804,
 52539,
 15451,
 47744,
 13768,
 18403,
 15744,
 15411,
 15589,
 15366,
 16977,
 15194,
 19977,
 15196,
 15638,
 15465,
 15422,
 15295,
 15729,
 15733,
 16978,
 13839,
 15574,
 15326,
 15432,
 15440,
 15416,
 52542,
 15331,
 15206,
 15629,
 15401,
 15253,
 15627,
 15446,
 15873,
 15486,
 15355,
 15229,
 15353,
 45388,
 15365,
 15653,
 15375,
 15335,
 15351,
 15657,
 15394,
 15183,
 52540,
 15484,
 20277,
 15594,
 20665,
 15275,
 15208,
 15200,
 15141,
 15568,
 15305,
 15662,
 15650,
 15360,
 15448,
 15241,
 15350,
 15349,
 15588,
 15273,
 15655,
 19976,
 15198,
 15470,
 15356,
 15661,
 15587,
 15222,
 15142,
 15619,
 20662,
 15444,
 15134,
 15271,
 15673,
 15389,
 20663,
 15382,
 15114,
 15306,
 15232,
 45389,
 15129,
 15453,
 15218,
 15263,
 15443,
 15586,
 15408,
 15307,
 20664,
 15221,
 15438,
 20703,
 15746,
 15171,
 15321,
 15381,
 15660,
 15199,
 15244,
 15135,
 15745,
 15550,
 15342,
 15441,
 15487,
 15144,
 15391,
 15362,
 15203,
 15672,
 15730,
 15636,
 15639,
 15666,
 15216,
 15202,
 15380,
 15665,
 15410,
 15452,
 20276,
 15668,
 15213,
 15197,
 15663,
 15231,
 15374,
 15243,
 15264,
 15364,
 20704,
 15215,
 15265,
 15455,
 15169,
 15743,
 15447,
 15674,
 15187,
 15143,
 19948,
 15333,
 15240,
 15328,
 15193,
 15571,
 15330,
 15336,
 15292,
 15145,
 15485,
 15173,
 19973,
 15140,
 15450,
 15136,
 15449,
 15502,
 15246,
 15327,
 15242,
 15322,
 15669,
 15569,
 15363,
 15138,
 15186,
 15481,
 15567,
 15236,
 15667,
 15299,
 15341,
 15254,
 15747,
 52543,
 15361,
 15223,
 15570,
 15204,
 15133,
 15337,
 15659,
 15228,
 41879,
 13777,
 13819,
 16976,
 57401,
 20246,
 13780,
 13810,
 13802,
 57358,
 64342,
 64348,
 64360,
 64343,
 64349,
 64347,
 64351,
 64345,
 64358,
 64355,
 64350,
 64335,
 64344,
 64354,
 64346,
 57411,
 18405,
 18407,
 18298,
 13815,
 13824,
 13784,
 13807,
 18299,
 13803,
 13788,
 64361,
 64336,
 64337,
 64366,
 18382,
 16969,
 18372,
 64367,
 18385,
 18375,
 18395,
 64368,
 18410,
 13785,
 13806,
 18386,
 16972,
 18384,
 18388,
 16979,
 18381,
 18402,
 18383,
 64369,
 64356,
 64332,
 64362,
 64341,
 57354,
 13808,
 13786,
 13809,
 13820,
 20611,
 13822,
 64353,
 64352,
 64357,
 64324,
 64325,
 64326,
 64327,
 64359,
 64328,
 64329,
 64330,
 64331,
 64334,
 64333,
 64365,
 64339,
 64340,
 64364,
 64363,
 64338,
 15675,
 45619,
 45445,
 45596,
 46005,
 47290,
 45791,
 46662,
 15489,
 46546,
 47777,
 46984,
 48025,
 46521,
 46783,
 47632,
 46927,
 45858,
 47503,
 47562,
 47806,
 47698,
 46442,
 47151,
 15393,
 15128,
 46749,
 46772,
 47567,
 45769,
 45918,
 47730,
 46735,
 47519,
 15492,
 47116,
 47131,
 46682,
 47532,
 46592,
 47154,
 47904,
 46780,
 15536,
 47951,
 46113,
 46269,
 47578,
 15301,
 46916,
 46830,
 15565,
 46627,
 46576,
 47886,
 46811,
 47437,
 46867,
 47563,
 46263,
 46128,
 47999,
 47225,
 46401,
 46991,
 46313,
 46100,
 46339,
 52528,
 47373,
 47114,
 47283,
 46135,
 47530,
 47581,
 46572,
 48006,
 47103,
 47393,
 15514,
 47911,
 46424,
 47002,
 47292,
 46321,
 15110,
 15491,
 45868,
 46709,
 46660,
 48028,
 45859,
 46319,
 45753,
 47390,
 45904,
 15107,
 15383,
 47641,
 46150,
 47666,
 46793,
 47374,
 15313,
 46990,
 46350,
 46639,
 47019,
 47897,
 47775,
 47018,
 47246,
 47380,
 47752,
 15428,
 46540,
 47849,
 46799,
 15501,
 47107,
 46663,
 52541,
 45794,
 47898,
 46502,
 46111,
 47449,
 45881,
 45910,
 46280,
 46414,
 45831,
 15373,
 46786,
 46512,
 46441,
 47965,
 46272,
 47145,
 46522,
 19974,
 47922,
 46201,
 46875,
 15259,
 47202,
 46092,
 47296,
 47023,
 15513,
 46550,
 47645,
 47885,
 45761,
 47513,
 45792,
 47504,
 47469,
 46257,
 47259,
 47856,
 15311,
 46437,
 46404,
 45847,
 47180,
 47966,
 46552,
 46440,
 45796,
 15542,
 45822,
 46872,
 47768,
 46217,
 47593,
 46554,
 47986,
 15388,
 47453,
 52522,
 47508,
 46475,
 46348,
 15466,
 46869,
 47144,
 46371,
 47406,
 47535,
 47271,
 46883,
 47421,
 46808,
 47833,
 46244,
 47458,
 45708,
 46668,
 45715,
 45898,
 46093,
 47553,
 15274,
 45713,
 46730,
 46924,
 47187,
 46574,
 47676,
 46258,
 45812,
 46410,
 47928,
 47028,
 45864,
 46385,
 46813,
 47728,
 47080,
 46508,
 46085,
 46644,
 46344,
 46711,
 46359,
 47239,
 45984,
 46795,
 46532,
 46291,
 47808,
 15544,
 15297,
 15332,
 47171,
 47788,
 15534,
 47215,
 47250,
 48024,
 15286,
 47101,
 46655,
 46465,
 47560,
 47354,
 15347,
 46952,
 46314,
 46403,
 47147,
 47021,
 46930,
 46664,
 46451,
 45848,
 47572,
 46759,
 46357,
 46645,
 47295,
 46396,
 47846,
 46497,
 47983,
 46105,
 46505,
 46046,
 47647,
 46571,
 46539,
 46471,
 47946,
 47881,
 46781,
 46073,
 47310,
 15309,
 15525,
 15132,
 47892,
 46805,
 46112,
 47534,
 46671,
 47478,
 46562,
 45763,
 15293,
 47176,
 46074,
 47857,
 46681,
 47749,
 47344,
 15548,
 47735,
 46737,
 46718,
 15184,
 47859,
 46463,
 15562,
 47212,
 46691,
 15543,
 45836,
 47515,
 47899,
 47681,
 47554,
 15403,
 47346,
 47830,
 46391,
 47031,
 46953,
 46938,
 45917,
 47956,
 46514,
 47047,
 15395,
 46782,
 46107,
 45768,
 46970,
 46007,
 48023,
 47122,
 15554,
 47384,
 15467,
 46478,
 15406,
 46103,
 45764,
 46125,
 47376,
 45880,
 47020,
 47995,
 46462,
 15104,
 47748,
 45946,
 47834,
 46328,
 45889,
 47751,
 47329,
 46543,
 15468,
 46223,
 46495,
 46839,
 52532,
 46298,
 47597,
 47565,
 46283,
 47011,
 48019,
 15460,
 46641,
 47135,
 47650,
 46985,
 46582,
 46727,
 45730,
 47583,
 47612,
 47600,
 46931,
 47651,
 45936,
 47592,
 47625,
 52531,
 47195,
 47040,
 46026,
 47716,
 47724,
 47653,
 15506,
 45828,
 46262,
 47627,
 46145,
 46685,
 46387,
 45725,
 47118,
 47414,
 46510,
 46083,
 46200,
 45952,
 47006,
 46801,
 47473,
 15558,
 45819,
 45811,
 46152,
 46588,
 46338,
 47883,
 15445,
 46969,
 46834,
 46011,
 46032,
 46853,
 46329,
 46702,
 47009,
 46833,
 48016,
 46981,
 46309,
 47133,
 46657,
 46753,
 46221,
 45710,
 47395,
 46006,
 46865,
 47950,
 46366,
 45892,
 46067,
 46905,
 46211,
 47861,
 45862,
 45777,
 46360,
 47034,
 47450,
 47330,
 46573,
 47505,
 46297,
 47420,
 15546,
 48030,
 46698,
 45737,
 46666,
 45870,
 46233,
 47785,
 47443,
 47501,
 46021,
 47707,
 46487,
 47322,
 47968,
 47166,
 15111,
 45824,
 45758,
 46423,
 47604,
 46964,
 52526,
 15209,
 47524,
 47059,
 47499,
 46814,
 46509,
 15519,
 45973,
 48018,
 47855,
 47446,
 47649,
 15483,
 47008,
 46044,
 47839,
 46266,
 15238,
 47308,
 15210,
 15127,
 45802,
 46205,
 15477,
 45700,
 46890,
 46516,
 45891,
 46531,
 47559,
 47697,
 47130,
 15348,
 15125,
 46643,
 15456,
 47266,
 15591,
 46120,
 48000,
 15159,
 47186,
 15462,
 45815,
 47891,
 45883,
 46029,
 46374,
 46312,
 45940,
 46486,
 46252,
 46972,
 46240,
 46873,
 46541,
 46828,
 46288,
 47208,
 47571,
 47045,
 15354,
 47048,
 47038,
 46568,
 46674,
 45795,
 46171,
 52518,
 46238,
 45731,
 46980,
 45820,
 46837,
 15399,
 47402,
 47278,
 47675,
 47787,
 15214,
 46649,
 47544,
 46231,
 45913,
 46732,
 46561,
 46860,
 47355,
 46122,
 47249,
 47067,
 47462,
 47413,
 45786,
 47963,
 46966,
 47125,
 46988,
 46275,
 46422,
 47451,
 46290,
 47333,
 46014,
 47722,
 45717,
 46831,
 47491,
 46712,
 47382,
 46734,
 15108,
 47907,
 47580,
 47155,
 47929,
 46690,
 47642,
 15533,
 15504,
 15156,
 47294,
 47546,
 46761,
 47486,
 47682,
 46908,
 46332,
 47436,
 46256,
 46183,
 47670,
 45756,
 47598,
 45970,
 46857,
 46820,
 46397,
 46648,
 45765,
 15398,
 47240,
 46169,
 47542,
 47789,
 47715,
 46742,
 15566,
 46436,
 46579,
 47494,
 46056,
 46304,
 47599,
 47235,
 46435,
 46065,
 46459,
 46618,
 47832,
 47665,
 46825,
 15413,
 45744,
 15545,
 47293,
 47289,
 15371,
 47172,
 46773,
 47072,
 47014,
 47168,
 45871,
 46750,
 15563,
 46615,
 47619,
 15270,
 15212,
 46020,
 47906,
 45821,
 47810,
 46584,
 46886,
 46896,
 47274,
 47931,
 15289,
 47779,
 47106,
 47025,
 47483,
 46852,
 47242,
 45773,
 45751,
 47628,
 45752,
 15511,
 47056,
 15419,
 45906,
 46325,
 47799,
 46059,
 47216,
 15475,
 45755,
 46939,
 47360,
 45948,
 46285,
 46129,
 46683,
 47945,
 46198,
 46686,
 47984,
 46849,
 46868,
 45759,
 52538,
 15237,
 47027,
 46536,
 46134,
 45798,
 47872,
 46494,
 46467,
 46877,
 46025,
 47383,
 15414,
 ...]

## HF Radar

## Compare amount of available data

### NDBC

In [144]:
url = 'https://www.ndbc.noaa.gov/data/stations/station_table.txt'
dfall = pd.read_table(url, sep='|', index_col=0)
dfall

,OWNER,TTYPE,HULL,NAME,PAYLOAD,LOCATION,TIMEZONE,FORECAST,NOTE
# STATION_ID,,,,,,,,,
#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
00922,DU,Slocum Glider,NaN,OTN201 - 4800922,NaN,"30.000 N 90.000 W (30&#176;0'0"" N 90&#176;0'0"" W)",E,,NaN
00923,DU,Slocum Glider,NaN,OTN200 - 4800923,NaN,"30.000 N 90.000 W (30&#176;0'0"" N 90&#176;0'0"" W)",E,,NaN
01500,R,Spray Glider,NaN,SP031 - 3801500,NaN,"30.000 N 90.000 W (30&#176;0'0"" N 90&#176;0'0"" W)",?,,NaN
01502,UA,Slocum Glider,NaN,Penobscot - 4801502,NaN,"30.000 N 90.000 W (30&#176;0'0"" N 90&#176;0'0"" W)",E,,NaN
...,...,...,...,...,...,...,...,...,...
ygnn6,EA,GLOS Weather Station,NaN,"Niagara Coast Guard Station, NY",NaN,"43.262 N 79.064 W (43&#176;15'42"" N 79&#176;3'...",E,,"For Great Lakes marine forecasts, select: <a h..."
ykrv2,PT,Water Level Observation Network,NaN,"8637611 - York River East Rear Range Light, VA",NaN,"37.251 N 76.342 W (37&#176;15'5"" N 76&#176;20'...",E,FZUS51.KAKQ,NaN
yktv2,O,Water Level Observation Network,NaN,"8637689 - Yorktown USCG Training Center, VA",NaN,"37.227 N 76.479 W (37&#176;13'36"" N 76&#176;28...",E,FZUS51.KAKQ,NaN
yrsv2,NR,NERRS Weather Station,NaN,"Taskinas Creek, Chesapeake Bay Reserve, VA",NaN,"37.414 N 76.712 W (37&#176;24'51"" N 76&#176;42...",E,,Water Quality data for this Reserve are availa...
zbqn7,NR,NERRS Water Quality Station,NaN,"Zeke's Basin, North Carolina",NaN,"33.955 N 77.935 W (33&#176;57'17"" N 77&#176;56...",E,,Right whales are active off NC from November t...

Filter full list of NDBC stations to get those that would match with the descriptions of the active stations, and also limit to the US.

In [294]:
# descriptions used in active buoy list
descs = ['buoy', 'platform', 'tower', 'station', 'Water Level Observation Network']

# lon lat box to determine if in US
# [just west of AK stations, just east of Maine stations, just south of Hawaii, north of AK historial stations]
llbox = [-192, -65, 15.5, 76.5]

# loop over full list of NDBC stations and limit to those that seem to match
# those in the active list (avoiding listings like gliders)
# for id, ttype in dfall[['# STATION_ID ',' TTYPE ']].values:
stations_ndbc_all = []
for id, (loc, ttype) in zip(dfall.index.values[1:], dfall[[' LOCATION ', ' TTYPE ']].values[1:]):
    inList, toKeep = False, False
    # search for description in NDBC 
    for desc in descs:
        if desc in str(ttype):
            inList = True
    # filter by lon/lat
    if inList and ('N' in loc) and ('W' in loc):  # don't need any in southern hemisphere
#         print(loc)
        lat = float(loc.split('N')[0][:-1])
        lon = -float(loc.split('N')[1].split(' ')[1])
#         print(lon,lat)
        if (llbox[0]<lon<llbox[1]) and (llbox[2] < lat < llbox[3]):
            toKeep = True
#             print(id)
            stations_ndbc_all.append(id)

In [295]:
len(stations_ndbc_all)

606

Currently available in Axiom erddap:

In [305]:
url = 'http://erddap.sensors.axds.co/erddap/search/advanced.csv?page=1&itemsPerPage=10000&searchFor=ndbc'
df = pd.read_csv(url)
print(len(df))

884

In [ ]:
DO A MORE CAREFUL MATCHING OF STATIONS TYPES?

### CO-OPS

CUrrently available in axiom erddap

In [306]:
url = 'http://erddap.sensors.axds.co/erddap/search/advanced.csv?page=1&itemsPerPage=10000&searchFor=co-ops'
df = pd.read_csv(url)
print(len(df))

3309

## Access data

In [ ]:
startDate = '2020-01-01'
endDate = '2021-01-01'
minLon, maxLon = -99, -88
minLat, maxLat = 20, 30

In [267]:
# function to read in only the columns that overlap with variable names
def readfunc(col):
    for Var in Vars+indices+checks:
        if Var in col:
            return True

In [266]:
indices = ['time (UTC)','latitude (degrees_north)','longitude (degrees_east)','station']
Vars = ['sea_water_temperature','sea_water_practical_salinity','sea_water_speed','sea_surface_height']
checks = ['depth_reading_ocean (m)']

Cols = ['time (UTC)','latitude (degrees_north)','longitude (degrees_east)','station','sea_water_temperature (degree_Celsius)', 'sea_water_temperature_qc_agg', 'sea_water_temperature_ocean (degree_Celsius)', 'sea_water_practical_salinity (1e-3)', 'sea_water_speed (m.s-1)', 'sea_water_velocity_to_direction (degrees)','sea_surface_height_above_sea_level_geoid_mllw (m)']

# Var = Vars[0]
dfs = []
for Var in Vars:
    url_base = 'http://erddap.sensors.axds.co/erddap/search/advanced.csv?page=1&itemsPerPage=10000'
    url = '%s&searchFor=%s&maxLat=%f&minLon=%f&maxLon=%f&minLat=%f&minTime=%s&maxTime=%s' % (url_base,Var,maxLat,minLon,maxLon,minLat,pd.Timestamp(startDate).isoformat(), pd.Timestamp(endDate).isoformat())
    dfs.append(pd.read_csv(url))
# &variableName=
# Gather together all data urls, but drop duplicates
# will have to check for all Vars in each dataset
df = pd.concat(dfs, axis=0, ignore_index=True).drop_duplicates()

In [206]:
import numpy as np

LIST OF NAMES OF variables by source

TABS
z (Altitude, m) 
sea_water_velocity_to_direction (degrees)
sea_water_speed (Current Speed, m.s-1)
sea_water_practical_salinity (1e-3)


NDBC
z (Altitude, m)
sea_surface_height_above_sea_level_geoid_mllw (m)
sea_water_temperature (degree_Celsius)


CO-OPS
z (Altitude, m)
sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw (cm)
sea_water_practical_salinity (1e-3)
sea_water_temperature (degree_Celsius)
sea_surface_height_above_sea_level_geoid_mllw (m) (not always available)

Another COOPS
sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw (cm)
 sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw_qc_agg
 sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw_qc_tests
 sea_surface_height_above_sea_level_geoid_mllw (m)
 sea_surface_height_above_sea_level_geoid_mllw_qc_agg
 
 
NWIS
height_geoid_local_station_datum (m)
 sea_water_temperature (degree_Celsius)
 water_surface_height_above_reference_datum_geoid_localstationdatum (m)
 


ECOHAB_II - 621   RSS
Institution: 	USGS Coastal and Marine Geology Program (USGS-CMGP)   (Dataset ID: ecohab_ii-621)
sea_water_temperature_6211mc_a (degree_Celsius)




SEE WHAT STATIONS I AM NOT CATCHING WITH THESE INSTITUTIONS AND THEN FILL IN
NEED TO BE ABLE TO CALL VARIABLE COLUMNS BY NAME and don't want to catch weird bad data

In [303]:
%%time
print(len(df['tabledap']))
dfs = []
for url in df['tabledap']:
    dfnew = pd.read_csv(url + '.csvp', index_col=indices, parse_dates=['time (UTC)'],
            usecols = readfunc).dropna(axis='index', how='all').dropna(axis='columns', how='all')
    
    checkkey = 'depth_reading_ocean (m)'
    if checkkey in dfnew.columns:
        # check if depth changes and if it does, don't use dataset
        if not np.allclose(dfnew[checkkey].min(), dfnew[checkkey].max()):
            # DROP DATAFRAME
            dfnew = None
        # CHECK QA TOO
    
    dfs.append(dfnew)

252

/Users/kthyng/miniconda3/envs/env/lib/python3.7/site-packages/numpy/lib/arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

CPU times: user 5min 25s, sys: 33.6 s, total: 5min 58s
Wall time: 51min 46s

In [304]:
%%time
dfall = pd.concat(dfs)

CPU times: user 10.7 s, sys: 5.43 s, total: 16.1 s
Wall time: 18.2 s

In [312]:
dfall.head()

,,,,sea_water_temperature (degree_Celsius),sea_water_temperature_qc_agg,depth_reading_ocean (m),sea_water_temperature_ocean (degree_Celsius),height_geoid_local_station_datum (m),water_surface_height_above_reference_datum_geoid_localstationdatum (m),sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw (cm),sea_surface_height_above_sea_level_geoid_mllw (m),sea_water_practical_salinity (1e-3),sea_water_speed (m.s-1),sea_surface_height_above_sea_level_geoid_navd88 (m)
time (UTC),latitude (degrees_north),longitude (degrees_east),station,,,,,,,,,,,
2020-01-14 20:32:45+00:00,29.01665,-89.832433,NaN,19.500000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-14 21:02:45+00:00,29.01665,-89.832433,NaN,19.350000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-14 21:32:45+00:00,29.01665,-89.832433,NaN,19.150000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-14 22:02:45+00:00,29.01665,-89.832433,NaN,19.799999,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-14 22:32:45+00:00,29.01665,-89.832433,NaN,20.049999,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [319]:
dfall.reset_index(level=[0,1,2,3])

,time (UTC),latitude (degrees_north),longitude (degrees_east),station,sea_water_temperature (degree_Celsius),sea_water_temperature_qc_agg,depth_reading_ocean (m),sea_water_temperature_ocean (degree_Celsius),height_geoid_local_station_datum (m),water_surface_height_above_reference_datum_geoid_localstationdatum (m),sea_surface_height_amplitude_due_to_geocentric_ocean_tide_geoid_mllw (cm),sea_surface_height_above_sea_level_geoid_mllw (m),sea_water_practical_salinity (1e-3),sea_water_speed (m.s-1),sea_surface_height_above_sea_level_geoid_navd88 (m)
0,2020-01-14 20:32:45+00:00,29.01665,-89.832433,NaN,19.500000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-14 21:02:45+00:00,29.01665,-89.832433,NaN,19.350000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-14 21:32:45+00:00,29.01665,-89.832433,NaN,19.150000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-14 22:02:45+00:00,29.01665,-89.832433,NaN,19.799999,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-14 22:32:45+00:00,29.01665,-89.832433,NaN,20.049999,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42247296,2015-05-07 06:56:00+00:00,26.06830,-97.156700,"SOUTH PADRE ISLAND, BRAZOS SANTIAGO PASS",NaN,NaN,NaN,NaN,NaN,NaN,-9.0,NaN,NaN,NaN,NaN
42247297,2015-05-06 15:25:00+00:00,26.06830,-97.156700,"SOUTH PADRE ISLAND, BRAZOS SANTIAGO PASS",NaN,NaN,NaN,NaN,NaN,NaN,49.0,NaN,NaN,NaN,NaN
42247298,2015-05-06 06:16:00+00:00,26.06830,-97.156700,"SOUTH PADRE ISLAND, BRAZOS SANTIAGO PASS",NaN,NaN,NaN,NaN,NaN,NaN,-9.0,NaN,NaN,NaN,NaN
42247299,2015-05-05 14:32:00+00:00,26.06830,-97.156700,"SOUTH PADRE ISLAND, BRAZOS SANTIAGO PASS",NaN,NaN,NaN,NaN,NaN,NaN,46.0,NaN,NaN,NaN,NaN
42247300,2015-05-05 05:42:00+00:00,26.06830,-97.156700,"SOUTH PADRE ISLAND, BRAZOS SANTIAGO PASS",NaN,NaN,NaN,NaN,NaN,NaN,-6.0,NaN,NaN,NaN,NaN

In [281]:
# for url in df['tabledap']:
url = df['tabledap'][0]

# open a dataset
# pd.read_csv(url + '.csvp', index_col=0, parse_dates=[0],
#             usecols = lambda col:(col in Cols))
# df1 = pd.read_csv(url + '.csvp', index_col=[0,1,2,-1], parse_dates=[0],
#             usecols = lambda col: col in Cols).dropna()
df1 = pd.read_csv(url + '.csvp', index_col=indices, parse_dates=['time (UTC)'],
            usecols = readfunc).dropna(axis='index', how='all').dropna(axis='columns', how='all')


url = df['tabledap'][100]
df2 = pd.read_csv(url + '.csvp', index_col=indices, parse_dates=['time (UTC)'],
            usecols = readfunc).dropna(axis='index', how='all').dropna(axis='columns', how='all')
checkkey = 'depth_reading_ocean (m)'
if checkkey in df2.columns:
    # check if depth changes and if it does, don't use dataset
    if not np.allclose(df2[checkkey].min(), df2[checkkey].max()):
        # DROP DATAFRAME
        df2 = None
    # CHECK QA TOO

Use the following to find the relevant datasets for a time range and region

HERE I HAVE SKETCHED OUT HOW TO BE ABLE TO QUERY AND AGGREGATE DATA. Need to:

* see what data I am missing that isn't in the sensors database
* see about adding the missing stations from the data sources
* do I need to include something about QA/QC at this stage? How to do that?

THIS IS THE AGGREGATED CELL OF WORK CURRENTLY:

In [125]:
import requests

# user input
startDate = '2020-03-23 00:00'
endDate = '2021-03-23'
minLon, maxLon = -99, -88
minLat, maxLat = 20, 30

# convert input datetime to seconds since 1970 which is almost correct but isn't quite what the 
# system does apparently
startDateTime = (pd.Timestamp(startDate) - pd.Timestamp("1970-01-01 00:00")) // pd.Timedelta('1s')
endDateTime = (pd.Timestamp(endDate) - pd.Timestamp("1970-01-01 00:00")) // pd.Timedelta('1s')

search_headers = {'Accept': 'application/json'}

Vars = {'temp': {'metaName': 'Temperature: Water Temperature', 'downloadName': 'sea_water_temperature'},
        'salt': {'metaName': 'Salinity', 'downloadName': 'sea_water_practical_salinity'},
        'currents': {'metaName': 'Currents', 'downloadName': 'sea_water_velocity_to_direction,sea_water_speed'},
        'ssh': {'metaName': 'Sea Surface Height', 'downloadName': 'sea_surface_height_geoid_navd88_9751hwl_a'},
        'waterLevel': {'metaName': 'Water Level', 'downloadName': 'sea_surface_height_above_sea_level_geoid_mllw'},
        'u_seaice': {'metaName': 'Sea Ice: Northward Velocity', 'downloadName': 'eastward_sea_ice_velocity'},
        'v_seaice': {'metaName': 'Sea Ice: Eastward Velocity', 'downloadName': 'northward_sea_ice_velocity'}}

# initialize downloadUrls as list for each data type
for key in Vars.keys():
    Vars[key]['downloadUrls'] = []

url_meta_base = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=10000&type=sensor_station&geom={"type":"Polygon","coordinates":'
url = '%s[[[%f,%f],[%f,%f],[%f,%f],[%f,%f],[%f,%f]]]}&startDateTime=%i&endDateTime=%i' % (url_meta_base,minLon,minLat,maxLon,minLat,maxLon,maxLat,minLon,maxLat,minLon,minLat,startDateTime,endDateTime)
url_download_base = 'https://erddap.sensors.ioos.us/erddap/tabledap'

# Find url for dataset search for each data type
for key in Vars.keys():
    Vars[key]['url_meta'] = url + '&tag=Parameter Group:' + Vars[key]['metaName']

    search_results = requests.get(Vars[key]['url_meta'], headers = search_headers).json()

    # Find download link for each data type
    for result in search_results['results']:
        # https://erddap.sensors.ioos.us/erddap/tabledap/mares-mooring-m1-2017-2019.csv?time%2Ceastward_sea_ice_velocity%2Cz&time%3E%3D2017-11-07T11%3A30%3A33Z&time%3C%3D2019-02-11T16%3A13%3A47Z
#         url_csv = '%s/%s.csvp?time,%s&time>=2017-11-07T11:30:33Z&time<=2019-02-11T16:13:47Z' % (url_download_base,result['data']['datasetId'], Vars[key]['downloadName'])
        url_csv = '%s/%s.csvp?time,%s&time>=%sZ&time<=%sZ' % (url_download_base,result['data']['datasetId'], Vars[key]['downloadName'],pd.Timestamp(startDate).isoformat(),pd.Timestamp(endDate).isoformat())
        Vars[key]['downloadUrls'].append(url_csv)


# Vars
# then can download with `pd.read_csv`

In [127]:
len(Vars['waterLevel']['downloadUrls'])

50

In [72]:
url_csv

'https://erddap.sensors.ioos.us/erddap/tabledap/com_chevron_42934.csvp?time,sea_water_temperature&time>=2020-03-23T00:00:00Z&time<=2021-03-23T00:00:00Z'

In [71]:
Vars['temp']['url_meta']

'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=10000&type=sensor_station&geom={"type":"Polygon","coordinates":[[[-99.000000,20.000000],[-88.000000,20.000000],[-88.000000,30.000000],[-99.000000,30.000000],[-99.000000,20.000000]]]}&startDateTime=1584921600&endDateTime=1616457600&tag=Parameter Group:Temperature: Water Temperature'

In [78]:
search_results['results'][0]#['data']['figures'][0]['plots'][0]['subPlots'][0]['datasetVariableId']

{'data': {'hasNarrative': False,
  'figures': [{'annotations': [],
    'label': 'Conductivity',
    'parameterGroupId': 23,
    'plots': [{'subPlots': [{'plotLabel': '[default]',
        'parameterId': 49,
        'endDate': '2021-03-17T05:00:00Z',
        'maxZ': 0.0,
        'medianTimeIntervalSecs': None,
        'numObservations': None,
        'qcConfigId': None,
        'instrument': {},
        'label': 'Conductivity',
        'units': 'mS.cm-1',
        'availableZBins': [],
        'hasQc': False,
        'deviceId': 482550,
        'parameterGroupId': 23,
        'sensorParameterId': 49,
        'maxVal': None,
        'minVal': None,
        'discriminant': None,
        'unitId': 28,
        'feeds': [482550],
        'datasetVariableId': 'sea_water_electrical_conductivity',
        'minZ': 0.0,
        'startDate': '2017-01-15T04:00:00Z',
        'availableZ': []}],
      'label': '[default]'}]},
   {'annotations': [],
    'label': 'Salinity',
    'parameterGroupId': 14,
    'plots': [{'subPlots': [{'plotLabel': '[default]',
        'parameterId': 50,
        'endDate': '2021-03-17T05:00:00Z',
        'maxZ': 0.0,
        'medianTimeIntervalSecs': None,
        'numObservations': None,
        'qcConfigId': None,
        'instrument': {},
        'label': 'Salinity',
        'units': '1e-3',
        'availableZBins': [],
        'hasQc': False,
        'deviceId': 482549,
        'parameterGroupId': 14,
        'sensorParameterId': 50,
        'maxVal': None,
        'minVal': None,
        'discriminant': None,
        'unitId': 4,
        'feeds': [482549],
        'datasetVariableId': 'sea_water_practical_salinity',
        'minZ': 0.0,
        'startDate': '2017-01-15T04:00:00Z',
        'availableZ': []}],
      'label': '[default]'}]},
   {'annotations': [],
    'label': 'Stream Height',
    'parameterGroupId': 3,
    'plots': [{'subPlots': [{'plotLabel': '[default]',
        'parameterId': 39,
        'endDate': '2021-03-17T06:00:00Z',
        'maxZ': 0.0,
        'medianTimeIntervalSecs': 3600,
        'numObservations': None,
        'qcConfigId': None,
        'instrument': {},
        'label': 'Stream Height',
        'units': 'm',
        'availableZBins': [],
        'hasQc': False,
        'deviceId': 364641,
        'parameterGroupId': 3,
        'sensorParameterId': 39,
        'maxVal': None,
        'minVal': None,
        'discriminant': None,
        'unitId': 19,
        'feeds': [364641],
        'datasetVariableId': 'height_geoid_local_station_datum',
        'minZ': 0.0,
        'startDate': '2015-05-05T12:00:00Z',
        'availableZ': []}],
      'label': '[default]'}]},
   {'annotations': [],
    'label': 'Temperature: Water Temperature',
    'parameterGroupId': 7,
    'plots': [{'subPlots': [{'plotLabel': '[default]',
        'parameterId': 41,
        'endDate': '2021-03-17T05:00:00Z',
        'maxZ': 0.0,
        'medianTimeIntervalSecs': 3600,
        'numObservations': None,
        'qcConfigId': None,
        'instrument': {},
        'label': 'Water Temperature',
        'units': 'degree_Celsius',
        'availableZBins': [],
        'hasQc': False,
        'deviceId': 364642,
        'parameterGroupId': 7,
        'sensorParameterId': 41,
        'maxVal': None,
        'minVal': None,
        'discriminant': None,
        'unitId': 8,
        'feeds': [364642],
        'datasetVariableId': 'sea_water_temperature',
        'minZ': 0.0,
        'startDate': '2015-05-05T12:00:00Z',
        'availableZ': []}],
      'label': '[default]'}]},
   {'annotations': [],
    'label': 'Water Surface above Datum',
    'parameterGroupId': 32,
    'plots': [{'subPlots': [{'plotLabel': '[default]',
        'parameterId': 43,
        'endDate': '2021-03-16T20:00:00Z',
        'maxZ': 0.0,
        'medianTimeIntervalSecs': None,
        'numObservations': None,
        'qcConfigId': None,
        'instrument': {},
        'label': 'Water Surface Height above Datum',
        'units': 'm',
        'availableZBins': [],
        'hasQc': False,
        'deviceId': 614580,
        'parameterGroupId': 32,
        'sensorParameterId': 355,
        'maxVal': None,
        'minVal': None,
        'discriminant': None,
        'unitId': 19,
        'feeds': [614580],
        'datasetVariableId': 'water_surface_height_above_reference_datum_geoid_localstationdatum',
        'minZ': 0.0,
        'startDate': '2018-09-11T03:00:00Z',
        'availableZ': []}],
      'label': '[default]'}]}],
  'latitude': 29.67916667,
  'platformType': 'fixed',
  'hasAnnotations': False,
  'affiliations': [{'agentId': 5,
    '~agentLabel': 'USGS National Water Information System (NWIS)',
    '~foreignName': 'CRMS0615-H01-RT',
    'type': 'owner',
    '~foreignUrl': 'https://waterdata.usgs.gov/usa/nwis/uv?site_no=294045092492300'},
   {'agentId': 5,
    '~agentLabel': 'USGS National Water Information System (NWIS)',
    '~foreignName': None,
    'type': 'publisher',
    '~foreignUrl': None}],
  'annotations': [],
  'publicNotice': None,
  'label': 'CRMS0615-H01-RT',
  'version': 1,
  'tags': [],
  'parameterGroupIds': [32, 3, 23, 7, 14],
  'datasetId': 'gov_usgs_waterdata_294045092492300',
  'location': {'coordinates': [-92.8230556, 29.67916667, 0.0],
   'type': 'Point'},
  'id': 29371,
  'feedStats': {'endDate': '2021-03-17T06:00:00Z',
   'medianTimeIntervalSecs': None,
   'numObservations': None,
   'annotationCategories': [],
   'bounds': {'coordinates': [-92.8230556, 29.67916667], 'type': 'Point'},
   'qcInfoUrl': None,
   'archivePath': None,
   'hasQc': False,
   'startDate': '2015-05-05T12:00:00Z'},
  '~uuid': 'urn:ioos:station:gov.usgs.waterdata:294045092492300',
  'longitude': -92.8230556},
 'description': None,
 'label': 'CRMS0615-H01-RT',
 'type': 'sensor_station',
 '_score': 0.00067667797,
 'uuid': 'urn:ioos:station:gov.usgs.waterdata:294045092492300',
 'extent_centroid': {'lon': -92.8230556, 'lat': 29.67916667},
 'end_date_time': '2021-03-17T06:00:00.000Z',
 'id': '29371',
 '_id': 'sensor_station:29371',
 'start_date_time': '2015-05-05T12:00:00.000Z',
 'slug': None,
 'update_date_time': None,
 'index_date_time': '2021-03-24T16:26:23.460Z'}

In [66]:
!pip install nested-lookup

Collecting nested-lookup
  Downloading nested-lookup-0.2.22.tar.gz (10 kB)
Requirement already satisfied: six in /Users/kthyng/miniconda3/envs/env/lib/python3.7/site-packages (from nested-lookup) (1.15.0)
Building wheels for collected packages: nested-lookup
  Building wheel for nested-lookup (setup.py) ... done
  Created wheel for nested-lookup: filename=nested_lookup-0.2.22-py3-none-any.whl size=7684 sha256=216337c7177a7f015982050c6c7c19ea0b598420e0e7507f73ad890558046021
  Stored in directory: /Users/kthyng/Library/Caches/pip/wheels/51/ce/8c/92df23b3564f2d3e84de93b535ef062d3159d68a10fead7742
Successfully built nested-lookup
Installing collected packages: nested-lookup
Successfully installed nested-lookup-0.2.22

In [70]:
from nested_lookup import nested_lookup
print(nested_lookup('datasetVariableId', search_results['results'][0])) # THEN NEED TO SELECT OUT THE ONE WITH TEMP IN IT FOR EXAMPLE

['sea_water_electrical_conductivity', 'sea_water_practical_salinity', 'height_geoid_local_station_datum', 'sea_water_temperature', 'water_surface_height_above_reference_datum_geoid_localstationdatum']

In [61]:
from functools import reduce
from operator import getitem
def get_nested_item(data, keys):
    return reduce(getitem, keys, data)

In [64]:
def get_nested_item(data, keys):
    return reduce(lambda seq, key: seq[key], keys, data)

In [65]:
get_nested_item(search_results, ['datasetVariableId'])

KeyError: 'datasetVariableId'

In [60]:
any(key.startswith('datasetVariableId') for key in search_results)

False

In [20]:
%%time

df = pd.DataFrame()

for url in Vars['salt']['downloadUrls']:
    dfnew = pd.read_csv(url, index_col=0, parse_dates=True).sort_index()
    datasetId = url.split('/')[-1].split('.')[0]
    dfnew.rename(columns={dfnew.columns[0]: '%s: %s' % (dfnew.columns[0], datasetId)}, inplace=True)

    df = df.join(dfnew, how='outer')

CPU times: user 12.5 s, sys: 1.19 s, total: 13.7 s
Wall time: 4min 11s

In [21]:
print(len(Vars['salt']['downloadUrls']))

63

In [24]:
Vars['salt']['df'] = df

In [ ]:
https://erddap.sensors.ioos.us/erddap/tabledap/wmo_42876.csv?time%2Csea_water_temperature_ocean%2Cz&time%3E%3D2017-04-25T00%3A37%3A00Z&time%3C%3D2021-03-09T18%3A37%3A00Z

In [28]:
# pd.read_csv(url)
url

'https://erddap.sensors.ioos.us/erddap/tabledap/wmo_42876.csvp?time,sea_water_temperature&time>=2020-03-23T00:00:00Z&time<=2021-03-23T00:00:00Z'

In [25]:
%%time

# loop over all variables
for key in Vars.keys():
    df = pd.DataFrame()
    for url in Vars[key]['downloadUrls']:
        dfnew = pd.read_csv(url, index_col=0, parse_dates=True).sort_index()
        datasetId = url.split('/')[-1].split('.')[0]
        dfnew.rename(columns={dfnew.columns[0]: '%s: %s' % (dfnew.columns[0], datasetId)}, inplace=True)

        df = df.join(dfnew, how='outer')
    
    # add resultant dataframe to Vars dict
    Vars[key]['df'] = df

HTTPError: HTTP Error 400:

In [607]:
tz = 'US/Central'
date = pd.Timestamp('2020-03-23 00:00').tz_localize(tz)
pd.Timedelta(str(1584939600 - (date - pd.Timestamp("1970-01-01 00:00").tz_localize(tz)) // pd.Timedelta('1s')) + 's')
# (date - pd.Timestamp("1970-01-01 00:00").tz_localize(tz)) // pd.Timedelta('1s')

Timedelta('0 days 06:00:00')

In [727]:
import urllib
import json
# url = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=1000&type=sensor_station&geom=%7B%22type%22%3A%22Polygon%22,%22coordinates%22%3A[[[-99,20],[-88,20],[-88,30],[-99,30],[-99,20]]]%7D&searchStartDateTime=1262304000&endDateTime=1616486399'
# url = 'https://search.axds.co/v2/search?portalId=45&page=1&geom=%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-134.40150203577394%2C50.51342652633956%5D%2C%5B-126.91416037374725%2C50.51342652633956%5D%2C%5B-126.91416037374725%2C55.3541353102106%5D%2C%5B-134.40150203577394%2C55.3541353102106%5D%2C%5B-134.40150203577394%2C50.51342652633956%5D%5D%5D%7D&startDateTime=1584939600&endDateTime=1616561999&type=sensor_station&type=parameter_group&type=affiliate&pageSize=1'
# with specific variable
# url = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=10&type=sensor_station&geom=%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B-134.40150203577394%2C50.51342652633956%5D%2C%5B-126.91416037374725%2C50.51342652633956%5D%2C%5B-126.91416037374725%2C55.3541353102106%5D%2C%5B-134.40150203577394%2C55.3541353102106%5D%2C%5B-134.40150203577394%2C50.51342652633956%5D%5D%5D%7D&startDateTime=1584939600&endDateTime=1616561999&tag=Parameter%20Group%3ATemperature%3A%20Water%20Temperature'
# with multiple variables


# user input
startDate = '2020-03-23 00:00'
endDate = '2021-03-23'
minLon, maxLon = -99, -88
minLat, maxLat = 20, 30

# convert input datetime to seconds since 1970 which is almost correct but isn't quite what the 
# system does apparently
startDateTime = (pd.Timestamp(startDate) - pd.Timestamp("1970-01-01 00:00")) // pd.Timedelta('1s')
endDateTime = (pd.Timestamp(endDate) - pd.Timestamp("1970-01-01 00:00")) // pd.Timedelta('1s')


# Also need sea ice coverage. Do I need to search another database?
# find these by looking at the searches that come up under developer tools and network
# e.g. https://sensors.ioos.us/#search/advanced?type_group=sensor_stations&mapBounds=-193.33040437082403%2C61.93895042666063%2C-116.871433045657%2C82.85338229176081&page=1
# do we also need to download QA/QC information?
vars_meta = ['Temperature: Water Temperature','Currents','Salinity',
             'Sea Surface Height', 'Water Level', 
             'Sea Ice: Northward Velocity','Sea Ice: Eastward Velocity']

# Vars = {'temp': {'meta': 'Temperature: Water Temperature', 'download': 'sea_water_temperature'},
#         'salt': {'meta'}}
                

# url = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=1000&type=sensor_station&geom=%7B%22type%22%3A%22Polygon%22%2C%22coordinates%22%3A%5B%5B%5B%f%2CminLat%5D%2C%5BmaxLon%2CminLat%5D%2C%5BmaxLon%2CmaxLat%5D%2C%5BminLon%2CmaxLat%5D%2C%5BminLon%2CminLat%5D%5D%5D%7D&startDateTime=1584939600&endDateTime=1616561999&tag=Parameter%20Group%3ATemperature%3A%20Water%20Temperature&tag=Parameter%20Group%3ACurrents' % (minLon, )
# url = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=1000&type=sensor_station&geom={"type":"Polygon","coordinates":[[[%f,%f],[%f,%f],[%f,%f],[%f,%f],[%f,%f]]]}&startDateTime=1584939600&endDateTime=1616561999&tag=Parameter Group:Temperature: Water Temperature&tag=Parameter Group:Currents' % (minLon,minLat,maxLon,minLat,maxLon,maxLat,minLon,maxLat,minLon,minLat)#,startDateTime,endDateTime)
urlbase = 'https://search.axds.co/v2/search?portalId=45&page=1&pageSize=1000&type=sensor_station&geom={"type":"Polygon","coordinates":'
url = '%s[[[%f,%f],[%f,%f],[%f,%f],[%f,%f],[%f,%f]]]}&startDateTime=%i&endDateTime=%i' % (urlbase,minLon,minLat,maxLon,minLat,maxLon,maxLat,minLon,maxLat,minLon,minLat,startDateTime,endDateTime)




# for var_meta in vars_meta:
var_meta = vars_meta[0]
url += '&tag=Parameter Group:' + var_meta
print(url)
search_headers = {'Accept': 'application/json'}
import requests
search_results = requests.get(url, headers = search_headers).json()

https://search.axds.co/v2/search?portalId=45&page=1&pageSize=1000&type=sensor_station&geom={"type":"Polygon","coordinates":[[[-99.000000,20.000000],[-88.000000,20.000000],[-88.000000,30.000000],[-99.000000,30.000000],[-99.000000,20.000000]]]}&startDateTime=1584921600&endDateTime=1616457600&tag=Parameter Group:Temperature: Water Temperature

In [728]:
len(search_results['results'])

190

In [822]:
df1 = pd.read_csv(Vars['salt']['downloadUrls'][0], index_col=0, parse_dates=True).sort_index()
datasetId = Vars['salt']['downloadUrls'][0].split('/')[-1].split('.')[0]
df1.rename(columns={df1.columns[0]: '%s: %s' % (df1.columns[0], datasetId)}, inplace=True)

df2 = pd.read_csv(Vars['salt']['downloadUrls'][1], index_col=0, parse_dates=True).sort_index()
datasetId = Vars['salt']['downloadUrls'][1].split('/')[-1].split('.')[0]
df2.rename(columns={df2.columns[0]: '%s: %s' % (df2.columns[0], datasetId)}, inplace=True)

df3 = df1.join(df2, how='outer')

In [749]:
for result in search_results['results']:
    
#     print(result['data']['id'])
#     if 'edu_ucsd_cdip_132' in result:
    print(result['data']['datasetId'])  # works for TABS
    print(result['data']['~uuid'])
    
    url_base = 'https://erddap.sensors.ioos.us/erddap/tabledap'
    url_csv = '%s/%s.csvp?time,sea_water_temperature' % (url_base,result['data']['datasetId'])
#     url_csv = 'https://erddap.sensors.ioos.us/erddap/tabledap/tabs_w.csv?time%2Csea_water_practical_salinity%2Cz&time%3E%3D2016-01-14T12%3A00%3A00Z&time%3C%3D2020-11-19T14%3A00%3A00Z'
    pd.read_csv(url_csv)
    
#

gov_usgs_waterdata_294045092492300
urn:ioos:station:gov.usgs.waterdata:294045092492300
nerrs_marcwwq
urn:ioos:station:nerrs:marcwwq
wmo_42876
urn:ioos:station:wmo:42876

HTTPError: HTTP Error 400:

In [ ]:
https://erddap.sensors.ioos.us/erddap/tabledap/tabs_w.html?time%2Csea_water_practical_salinity%2Cz&time%3E%3D2016-01-14T12%3A00%3A00Z&time%3C%3D2020-11-19T14%3A00%3A00Z
https://erddap.sensors.ioos.us/erddap/tabledap/tabs_w.csv?time%2Csea_water_practical_salinity%2Cz&time%3E%3D2016-01-14T12%3A00%3A00Z&time%3C%3D2020-11-19T14%3A00%3A00Z
https://erddap.sensors.ioos.us/erddap/tabledap/tabs_w.nc?time%2Csea_water_practical_salinity%2Cz&time%3E%3D2016-01-14T12%3A00%3A00Z&time%3C%3D2020-11-19T14%3A00%3A00Z
https://sensors.axds.co/stationsensorservice/getExcelSheet?sensorids=14&sensorid=14&stationid=57544&stationids=57544&appregion=all&realtimeonly=false&next_gen_api=false

In [735]:
# url_csv = 'https://erddap.sensors.ioos.us/erddap/tabledap/urn:ioos:station:com.chevron:42934.csvp?time%2Csea_water_temperature%2Csea_water_temperature_qc_agg'
# url_csv = 'https://sensors.axds.co/stationsensorservice/getExcelSheet?sensorsids=7&sensorid=7&stationids=57541&stationid=57541&appregion=all&realtimeonly=false&next_gen_api=false'
url_csv = 'https://erddap.sensors.ioos.us/erddap/tabledap/tabs_w.csv?time%2Csea_water_practical_salinity%2Cz&time%3E%3D2016-01-14T12%3A00%3A00Z&time%3C%3D2020-11-19T14%3A00%3A00Z'
pd.read_csv(url_csv)

# url_netcdf = 'https://sensors.axds.co/stationsensorservice/getSensorNetcdf?sensorsids=7&sensorid=7&stationids=57541&stationid=57541&appregion=all&realtimeonly=false&next_gen_api=false'
# xr.open_dataset(url_netcdf)

                       time  sea_water_practical_salinity    z
0                       UTC                      0.001000    m
1      2020-11-19T13:00:00Z                      0.032716  0.0
2      2020-11-19T12:30:00Z                      0.032724  0.0
3      2020-11-19T12:00:00Z                      0.032734  0.0
4      2020-11-19T11:30:00Z                      0.032741  0.0
...                     ...                           ...  ...
51016  2016-01-14T14:30:00Z                     36.450000  0.0
51017  2016-01-14T14:00:00Z                     36.450000  0.0
51018  2016-01-14T13:30:00Z                     36.450000  0.0
51019  2016-01-14T13:00:00Z                     36.450000  0.0
51020  2016-01-14T12:30:00Z                     36.460000  0.0

[51021 rows x 3 columns]

In [748]:
url_base = 'https://erddap.sensors.ioos.us/erddap/tabledap'
url_csv = '%s/%s.csvp?time,sea_water_temperature' % (url_base,'tabs_w')
# url_csv = 'https://erddap.sensors.ioos.us/erddap/tabledap/tabs_w.csv?time%2Csea_water_practical_salinity%2Cz&time%3E%3D2016-01-14T12%3A00%3A00Z&time%3C%3D2020-11-19T14%3A00%3A00Z'
# https://erddap.sensors.ioos.us/erddap/tabledap/tabs_w.csv?time%2Csea_water_temperature%2Cz&time%3E%3D2016-01-14T12%3A00%3A00Z&time%3C%3D2020-11-19T14%3A00%3A00Z
print(url_csv)
pd.read_csv(url_csv)

https://erddap.sensors.ioos.us/erddap/tabledap/tabs_w.csvp?sea_water_temperature

       sea_water_temperature (degree_Celsius)
0                                        22.7
1                                        22.6
2                                        22.6
3                                        22.7
4                                        22.7
...                                       ...
51015                                    23.1
51016                                    23.1
51017                                    23.1
51018                                    23.1
51019                                    23.0

[51020 rows x 1 columns]

In [560]:
url_csv = 'https://erddap.sensors.ioos.us/erddap/tabledap/edu_ucsd_cdip_132.csvp?time%2Csea_water_temperature%2Csea_water_temperature_qc_agg'
url_csv = 'https://erddap.sensors.ioos.us/erddap/tabledap/edu_ucsd_cdip_132.csvp?time%2Csea_water_velocity_to_direction%2Csea_water_speed%2Csea_water_velocity_to_direction_qc_agg%2Csea_water_speed_qc_agg'
url_csv = 'https://erddap.sensors.ioos.us/erddap/tabledap/indian-river-lagoon-fort-pierce-.csv?time%2Csea_water_temperature%2Csea_water_temperature_qc_agg'
pd.read_csv(url_csv)

,time (UTC),sea_water_velocity_to_direction (degrees),sea_water_speed (m.s-1),sea_water_velocity_to_direction_qc_agg,sea_water_speed_qc_agg
0,2006-02-09T15:25:45Z,NaN,NaN,NaN,NaN
1,2006-02-09T15:54:45Z,NaN,NaN,NaN,NaN
2,2006-02-09T15:55:45Z,NaN,NaN,NaN,NaN
3,2006-02-09T16:24:45Z,NaN,NaN,NaN,NaN
4,2006-02-09T16:25:45Z,NaN,NaN,NaN,NaN
...,...,...,...,...,...
532802,2021-03-23T19:25:00Z,NaN,NaN,NaN,NaN
532803,2021-03-23T19:30:00Z,227.461533,0.139,1.0,1.0
532804,2021-03-23T19:35:00Z,NaN,NaN,NaN,NaN
532805,2021-03-23T19:40:00Z,220.516479,0.101,1.0,1.0
532806,2021-03-23T19:45:00Z,NaN,NaN,NaN,NaN